Repository sveltinio/components-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

docs(README.md): updated
  README.md
Due: none

chore(widgets/breadcrumbs): margins added as props and configurable through css vars
  packages/widgets/src/lib/components/breadcrumbs/styles.css
  packages/widgets/src/lib/components/breadcrumbs/styles.postcss
  packages/widgets/src/lib/components/breadcrumbs/variables.css
Due: none

chore(widgets): bump version to 0.4.0
  packages/widgets/CHANGELOG.md
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore(postcss-utils): deps updated, findByName added and findByExtension accepts string|string[]
  packages/postcss-utils/index.cjs
  packages/postcss-utils/index.mjs
  packages/postcss-utils/package.json
Due: prettier --write --plugin-search-dir=. .

chore(essentials): demo page and styles updated
  packages/essentials/src/app.html
  packages/essentials/src/app.postcss
  packages/essentials/src/routes/+page.svelte
  packages/essentials/src/routes/demos/+page.svelte
  packages/essentials/src/routes/demos/_dummyIcon.svelte
Due: none

chore(essentials): types exported on the types.d.ts file
  packages/essentials/src/lib/index.ts
  packages/essentials/src/lib/types.ts
Due: none

refactor(essentials): utils.ts - stylesObjToCSSVars returns a better formatted css string
  packages/essentials/src/lib/utils.ts
Due: none

chore(essentials/svelte.config.js): vitePreprocess and other entries to be excluded when packaging
  packages/essentials/svelte.config.js
Due: prettier --check, eslint --fix

chore(essentials): deps updated, pa11y and publint added. scripts moved and refactored
  package.json
  packages/essentials/.gitignore
  packages/essentials/.pa11yci
  packages/essentials/package.json
  packages/essentials/scripts/css-minifier.js
  packages/essentials/scripts/postcss-process.js
  packages/essentials/styles-builder.js
  pnpm-lock.yaml
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

refactor(essentials/button): a11y and keydownHandler
  packages/essentials/.gitignore
  packages/essentials/src/lib/components/button/Button.svelte
  packages/essentials/src/lib/components/button/README.md
  packages/essentials/src/lib/components/button/THEMING.md
  packages/essentials/src/lib/components/button/assets/images/custom_class.png
  packages/essentials/src/lib/components/button/assets/images/custom_prop.png
  packages/essentials/src/lib/components/button/assets/images/showcase.png
  packages/essentials/src/lib/components/button/styles.css
  packages/essentials/src/lib/components/button/styles.postcss
  packages/essentials/src/lib/styles/base.css
  packages/essentials/src/lib/styles/colors.css
  packages/essentials/src/lib/styles/components/button/variables.css
  packages/essentials/src/lib/styles/tw-preflight.css
  packages/essentials/src/routes/demos/button/+page.svelte
Due: none

refactor(essentials): findByName accepts string|string[]. findByExtension typos fixed
  packages/essentials/scripts/css-minifier.js
  packages/essentials/scripts/postcss-process.js
  packages/postcss-utils/index.cjs
  packages/postcss-utils/index.mjs
Due: prettier --check, eslint --fix

refactor(essentials/button-group): a11y and keydownHandler
  packages/essentials/src/lib/components/button-group/ButtonGroup.svelte
  packages/essentials/src/lib/components/button-group/ButtonGroupItem.svelte
  packages/essentials/src/lib/components/button-group/README.md
  packages/essentials/src/lib/components/button-group/THEMING.md
  packages/essentials/src/lib/components/button-group/assets/images/custom_class.png
  packages/essentials/src/lib/components/button-group/assets/images/custom_prop.png
  packages/essentials/src/lib/components/button-group/assets/images/custom_styles_class.png
  packages/essentials/src/lib/components/button-group/assets/images/custom_styles_prop.png
  packages/essentials/src/lib/components/button-group/assets/images/default.png
  packages/essentials/src/lib/components/button-group/assets/images/showcase.png
  packages/essentials/src/lib/components/button-group/styles.css
  packages/essentials/src/lib/components/button-group/styles.postcss
  packages/essentials/src/lib/styles/components/button-group/variables.css
  packages/essentials/src/routes/demos/button-group/+page.svelte
Due: none

fix(essentials/color): label color
  packages/essentials/src/lib/components/color/ColorViewer.svelte
  packages/essentials/src/lib/components/color/README.md
  packages/essentials/src/lib/components/color/styles.css
  packages/essentials/src/lib/components/color/styles.postcss
  packages/essentials/src/lib/styles/components/color/variables.css
  packages/essentials/src/routes/demos/color/+page.svelte
Due: none

refactor(essentials/dropdown): a11y and event handlers
  packages/essentials/src/lib/components/dropdown/Dropdown.svelte
  packages/essentials/src/lib/components/dropdown/DropdownButton.svelte
  packages/essentials/src/lib/components/dropdown/DropdownContent.svelte
  packages/essentials/src/lib/components/dropdown/DropdownItem.svelte
  packages/essentials/src/lib/components/dropdown/README.md
  packages/essentials/src/lib/components/dropdown/THEMING.md
  packages/essentials/src/lib/components/dropdown/actions.ts
  packages/essentials/src/lib/components/dropdown/styles.css
  packages/essentials/src/lib/components/dropdown/styles.postcss
  packages/essentials/src/lib/components/dropdown/types.ts
  packages/essentials/src/lib/components/dropdown/variables.css
  packages/essentials/src/lib/styles/components/dropdown/variables.css
  packages/essentials/src/routes/demos/dropdown/+page.svelte
Due: none

fix(essentials/link): class name and styles
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/link/styles.css
  packages/essentials/src/lib/components/link/styles.postcss
  packages/essentials/src/lib/styles/components/link/variables.css
  packages/essentials/src/routes/demos/link/+page.svelte
Due: none

refactor(essentials/list): a11y and event handlers. docs updated
  packages/essentials/src/lib/components/list/Item.svelte
  packages/essentials/src/lib/components/list/List.svelte
  packages/essentials/src/lib/components/list/README.md
  packages/essentials/src/lib/components/list/THEMING.md
  packages/essentials/src/lib/components/list/ToggleButton.svelte
  packages/essentials/src/lib/components/list/ToggleList.svelte
  packages/essentials/src/lib/components/list/assets/diagrams/togglelist.d2
  packages/essentials/src/lib/components/list/assets/images/component_structure.png
  packages/essentials/src/lib/components/list/assets/images/default.png
  packages/essentials/src/lib/components/list/assets/images/left-side-icon.png
  packages/essentials/src/lib/components/list/assets/images/showcase.png
  packages/essentials/src/lib/components/list/styles.css
  packages/essentials/src/lib/components/list/styles.postcss
  packages/essentials/src/lib/components/list/types.ts
  packages/essentials/src/lib/styles/components/list/variables.css
  packages/essentials/src/routes/demos/list/+page.svelte
  packages/essentials/tests/ToggleList.spec.ts
Due: none

refactor(essentials/tabs): a11y and event handlers. docs updated
  packages/essentials/src/lib/components/tabs/README.md
  packages/essentials/src/lib/components/tabs/THEMING.md
  packages/essentials/src/lib/components/tabs/Tabs.svelte
  packages/essentials/src/lib/components/tabs/TabsGroup.svelte
  packages/essentials/src/lib/components/tabs/assets/images/custom_prop.png
  packages/essentials/src/lib/components/tabs/styles.css
  packages/essentials/src/lib/components/tabs/styles.postcss
  packages/essentials/src/lib/styles/components/tabs/variables.css
  packages/essentials/src/routes/demos/tabs/+page.svelte
  packages/essentials/tests/Tabs.spec.ts
Due: none

chore(essentials): removing unused files
  packages/essentials/src/lib/components/colors.css
  packages/essentials/src/lib/components/reset.css
Due: none

docs(essentials): uniforming README and THEMING files
  docs/design-rules.md
  packages/essentials/README.md
  packages/essentials/postcss.config.cjs
  packages/essentials/src/lib/components/button-group/THEMING.md
  packages/essentials/src/lib/components/button/THEMING.md
  packages/essentials/src/lib/components/color/README.md
  packages/essentials/src/lib/components/color/THEMING.md
  packages/essentials/src/lib/components/color/assets/images/custom_prop.png
  packages/essentials/src/lib/components/color/assets/images/showcase.png
  packages/essentials/src/lib/components/dropdown/THEMING.md
  packages/essentials/src/lib/components/list/THEMING.md
  packages/essentials/src/lib/components/tabs/THEMING.md
Due: none

chore(essentials): simplifying css-minify.js script and make use of findByExtension
  packages/essentials/scripts/css-minifier.js
Due: prettier --check, eslint --fix

fix(essentials): types in package.json
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore(essentials): bump version to 0.5.0. ready to release
  packages/essentials/CHANGELOG.md
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

ci: ensure building before testing to avoid errors due to missed files
  .github/workflows/lint-test.yml
Due: none

ci: fix build pipeline
  turbo.json
Due: prettier --write --plugin-search-dir=. .

Path conditions:
  prettier --check: any of: packages/**/*.{js, ts, svelte}
  eslint --fix: any of: packages/**/*.{js, ts, svelte}
  prettier --write --plugin-search-dir=. .: any of: *.json
