Repository sveltinio/components-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

.lintstagedrc.json:

{
	"packages/**/*.{js, ts, svelte}": ["prettier --check", "eslint --fix"],
	"*.json": ["prettier --write --plugin-search-dir=. ."]
}

refactor: renaming Picture component to Image
  packages/essentials/src/lib/components/image/Image.svelte
  packages/essentials/src/lib/components/image/index.ts
  packages/essentials/src/lib/components/picture/index.ts
  packages/essentials/src/lib/index.ts
  packages/essentials/src/routes/+page.svelte
  packages/essentials/src/routes/demos/image/+page.svelte
  packages/essentials/src/routes/demos/picture/+page.svelte
  packages/essentials/tests/Image.spec.ts
Due: none

chore(essentials): rgb color strings
  packages/essentials/src/lib/components/button/Button.svelte
  packages/essentials/src/lib/components/color/ColorViewer.svelte
  packages/essentials/src/lib/components/dropdown/DropdownButton.svelte
  packages/essentials/src/lib/components/dropdown/DropdownItem.svelte
  packages/essentials/src/lib/components/dropdown/DropdownMenu.svelte
  packages/essentials/src/lib/components/icons/ArrowDownIcon.svelte
  packages/essentials/src/lib/components/icons/ArrowRightIcon.svelte
  packages/essentials/src/lib/components/icons/ArrowUpIcon.svelte
  packages/essentials/src/lib/components/link/ExternalLinkIcon.svelte
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/list/ToggleList.svelte
  packages/essentials/src/lib/components/tabs/Tabs.svelte
Due: none

chore(packages): deps updated
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore(packages): reordering server port numbers
  packages/essentials/vite.config.ts
  packages/media-content/vite.config.ts
  packages/seo/vite.config.ts
  packages/services/vite.config.ts
  packages/widgets/vite.config.ts
Due: none

chore(essentials): format ToggleList.svelte
  packages/essentials/src/lib/components/list/ToggleList.svelte
Due: none

ci(pre-push): filtering @sveltinio packages only for lint
  .husky/pre-push
Due: none

fix(tsconfig): moduleResolution -> NodeNext
  packages/essentials/tsconfig.json
  packages/media-content/tsconfig.json
  packages/seo/tsconfig.json
  packages/services/tsconfig.json
  packages/widgets/tsconfig.json
Due: prettier --write --plugin-search-dir=. .

chore(essentials): make relative import paths nodenext compliant
  packages/essentials/README.md
  packages/essentials/package.json
  packages/essentials/src/data/sample.ts
  packages/essentials/src/lib/components/dropdown/DropdownButton.svelte
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/tabs/Tab.svelte
  packages/essentials/src/lib/components/tabs/Tabs.svelte
  packages/essentials/src/lib/index.ts
  packages/essentials/src/routes/demos/button/+page.svelte
  packages/essentials/src/routes/demos/color/+page.svelte
  packages/essentials/src/routes/demos/dropdown/+page.svelte
  packages/essentials/src/routes/demos/image/+page.svelte
  packages/essentials/src/routes/demos/link/+page.svelte
  packages/essentials/src/routes/demos/list/+page.svelte
  packages/essentials/src/routes/demos/tabs/+page.svelte
  packages/essentials/tests/Dropdown.spec.ts
  packages/essentials/tests/ToggleList.spec.ts
  packages/essentials/tsconfig.json
Due: prettier --write --plugin-search-dir=. .

chore(media-content): make relative import paths nodenext compliant
  packages/media-content/package.json
  packages/media-content/src/data/sample.ts
  packages/media-content/src/lib/components/codepen/CodePen.svelte
  packages/media-content/src/lib/components/codesandbox/CodeSandbox.svelte
  packages/media-content/src/lib/components/facebook/Facebook.svelte
  packages/media-content/src/lib/components/stackblitz/StackBlitz.svelte
  packages/media-content/src/lib/components/tweet/Tweet.svelte
  packages/media-content/src/lib/components/vimeo/Vimeo.svelte
  packages/media-content/src/lib/components/youtube/YouTube.svelte
  packages/media-content/src/lib/index.ts
  packages/media-content/src/lib/utils.ts
  packages/media-content/src/routes/+page.svelte
  packages/media-content/tests/CodePen.spec.ts
  packages/media-content/tests/CodeSandbox.spec.ts
  packages/media-content/tests/Facebook.spec.ts
  packages/media-content/tests/SlideShare.spec.ts
  packages/media-content/tests/StackBlitz.spec.ts
  packages/media-content/tests/Tweet.spec.ts
  packages/media-content/tests/Vimeo.spec.ts
  packages/media-content/tests/YouTube.spec.ts
  packages/media-content/tests/test-utils.ts
  packages/media-content/tests/utils.spec.ts
  packages/media-content/tsconfig.json
Due: prettier --write --plugin-search-dir=. .

chore(seo): make relative import paths nodenext compliant
  packages/seo/package.json
  packages/seo/src/data/sample.ts
  packages/seo/src/lib/components/metatag/OpenGraph.svelte
  packages/seo/src/lib/components/metatag/PageMetaTags.svelte
  packages/seo/src/lib/components/metatag/TwitterCard.svelte
  packages/seo/src/lib/components/schemaorg/JsonLdBreadcrumbs.svelte
  packages/seo/src/lib/components/schemaorg/JsonLdSiteNavigationElements.svelte
  packages/seo/src/lib/components/schemaorg/JsonLdWebPage.svelte
  packages/seo/src/lib/components/schemaorg/JsonLdWebSite.svelte
  packages/seo/src/lib/index.ts
  packages/seo/src/routes/+page.svelte
  packages/seo/src/routes/posts/+page.svelte
  packages/seo/tests/JsonLdBreadcrumbs.spec.ts
  packages/seo/tests/JsonLdSiteNavigationElements.spec.ts
  packages/seo/tests/JsonLdWebPage.spec.ts
  packages/seo/tests/JsonLdWebSite.spec.ts
  packages/seo/tests/OpenGraph.spec.ts
  packages/seo/tests/PageMetaTags.spec.ts
  packages/seo/tests/TwitterCard.spec.ts
  packages/seo/tsconfig.json
Due: prettier --write --plugin-search-dir=. .

chore(services): make relative import paths nodenext compliant
  packages/services/package.json
  packages/services/src/data/sample.ts
  packages/services/src/lib/components/google/GoogleFonts.svelte
  packages/services/src/lib/components/umami/UmamiAnalytics.svelte
  packages/services/src/lib/index.ts
  packages/services/src/lib/utils.ts
  packages/services/src/routes/+page.svelte
  packages/services/tests/GoogleAnalytics.spec.ts
  packages/services/tests/GoogleFonts.spec.ts
  packages/services/tests/UmamiAnalytics.spec.ts
  packages/services/tests/test-utils.ts
  packages/services/tests/utils.spec.ts
  packages/services/tsconfig.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): make relative import paths nodenext compliant
  packages/widgets/package.json
  packages/widgets/src/data/sample.ts
  packages/widgets/src/lib/components/buttons/PrevNextButtons.svelte
  packages/widgets/src/lib/components/card/Card.svelte
  packages/widgets/src/lib/components/card/CardButton.svelte
  packages/widgets/src/lib/components/card/CardCover.svelte
  packages/widgets/src/lib/components/card/CardTitle.svelte
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/index.ts
  packages/widgets/src/routes/+page.svelte
  packages/widgets/svelte.config.js
  packages/widgets/tests/Breadcrumbs.spec.ts
  packages/widgets/tests/Card.spec.ts
  packages/widgets/tests/CollapsibleList.spec.ts
  packages/widgets/tests/GitHubButton.spec.ts
  packages/widgets/tests/GitHubForkRibbon.spec.ts
  packages/widgets/tests/PrevNextButtons.spec.ts
  packages/widgets/tests/ScrollToTopButtons.spec.ts
  packages/widgets/tests/TOC.spec.ts
  packages/widgets/tsconfig.json
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

fix(esling-config-cutom): no-empty-function rule sets to off
  packages/eslint-config-custom/index.js
Due: prettier --check, eslint --fix

chore(components.sveltin.io): mdsvexamples added as dev dep
  sites/components.sveltin.io/mdsvex.config.js
  sites/components.sveltin.io/package.json
  sites/components.sveltin.io/vite.config.ts
Due: prettier --write --plugin-search-dir=. .

ci(turborepo): pipeline updated
  turbo.json
Due: prettier --write --plugin-search-dir=. .

fix(components.sveltin.io): import components from workspace packages
  sites/components.sveltin.io/config/menu.js.ts
  sites/components.sveltin.io/config/website.js.ts
  sites/components.sveltin.io/content/essentials/dropdown/index.svx
  sites/components.sveltin.io/content/essentials/link/index.svx
  sites/components.sveltin.io/content/essentials/list/index.svx
  sites/components.sveltin.io/content/essentials/tabs/index.svx
  sites/components.sveltin.io/src/routes/(all)/+layout.svelte
  sites/components.sveltin.io/src/routes/(all)/overview/+page.svelte
  sites/components.sveltin.io/src/routes/(markdown)/essentials/+page.svelte
  sites/components.sveltin.io/src/routes/(markdown)/essentials/[slug]/+page.svelte
  sites/components.sveltin.io/src/routes/(markdown)/media-content/+page.svelte
  sites/components.sveltin.io/src/routes/(markdown)/media-content/[slug]/+page.svelte
  sites/components.sveltin.io/src/routes/(markdown)/seo/+page.svelte
  sites/components.sveltin.io/src/routes/(markdown)/seo/[slug]/+page.svelte
  sites/components.sveltin.io/src/routes/(markdown)/services/+page.svelte
  sites/components.sveltin.io/src/routes/(markdown)/services/[slug]/+page.svelte
  sites/components.sveltin.io/src/routes/(markdown)/widgets/+page.svelte
  sites/components.sveltin.io/src/routes/(markdown)/widgets/[slug]/+page.svelte
  sites/components.sveltin.io/src/routes/+page.svelte
Due: none

chore(components.sveltin.io): sveltekit upgraded to 1.0.0-next.480
  pnpm-lock.yaml
  sites/components.sveltin.io/package.json
Due: prettier --write --plugin-search-dir=. .

chore: svelte-iconoir upgrade to v2.6.0
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  sites/components.sveltin.io/package.json
Due: prettier --write --plugin-search-dir=. .

chore: deps updated, refining scripts and pipeline
  package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
  sites/components.sveltin.io/package.json
  turbo.json
Due: prettier --write --plugin-search-dir=. .

chore(mdsvexample): custom wrapper component added
  sites/components.sveltin.io/content/essentials/button/index.svx
  sites/components.sveltin.io/content/essentials/list/index.svx
  sites/components.sveltin.io/content/essentials/tabs/index.svx
  sites/components.sveltin.io/mdsvex.config.js
  sites/components.sveltin.io/src/lib/components/_ComponentPreview.svelte
  sites/components.sveltin.io/src/lib/components/types.ts
Due: none

style(app.css): markdown-body class updated
  sites/components.sveltin.io/src/app.css
Due: none

chore: sveltekit updated to next.481 & static-next.43
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  sites/components.sveltin.io/package.json
Due: prettier --write --plugin-search-dir=. .

chore: plop added and setup to generate components
  .prettierignore
  .templates/component/definition/index.ts.hbs
  .templates/component/definition/{{properCase name}}.svelte.hbs
  .templates/component/demo/page.svelte.hbs
  .templates/component/lib-index.ts.hbs
  .templates/component/tests/test.spec.ts.hbs
  package.json
  packages/essentials/.prettierignore
  packages/media-content/.prettierignore
  packages/seo/.prettierignore
  packages/services/.prettierignore
  packages/widgets/.prettierignore
  plopfile.mjs
Due: prettier --write --plugin-search-dir=. .

fix: pnpm script demo
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore: set component index pages layout
  sites/components.sveltin.io/src/routes/(all)/overview/+page.svelte
  sites/components.sveltin.io/src/routes/(packages)/+layout.svelte
  sites/components.sveltin.io/src/routes/(packages)/essentials/+page.server.ts
  sites/components.sveltin.io/src/routes/(packages)/essentials/+page.svelte
  sites/components.sveltin.io/src/routes/(packages)/essentials/[slug]/+layout.svelte
  sites/components.sveltin.io/src/routes/(packages)/essentials/[slug]/+page.svelte
  sites/components.sveltin.io/src/routes/(packages)/essentials/[slug]/+page.ts
  sites/components.sveltin.io/src/routes/(packages)/media-content/+page.server.ts
  sites/components.sveltin.io/src/routes/(packages)/media-content/+page.svelte
  sites/components.sveltin.io/src/routes/(packages)/media-content/[slug]/+layout.svelte
  sites/components.sveltin.io/src/routes/(packages)/media-content/[slug]/+page.svelte
  sites/components.sveltin.io/src/routes/(packages)/media-content/[slug]/+page.ts
  sites/components.sveltin.io/src/routes/(packages)/seo/+page.server.ts
  sites/components.sveltin.io/src/routes/(packages)/seo/+page.svelte
  sites/components.sveltin.io/src/routes/(packages)/seo/[slug]/+layout.svelte
  sites/components.sveltin.io/src/routes/(packages)/seo/[slug]/+page.svelte
  sites/components.sveltin.io/src/routes/(packages)/seo/[slug]/+page.ts
  sites/components.sveltin.io/src/routes/(packages)/services/+page.server.ts
  sites/components.sveltin.io/src/routes/(packages)/services/+page.svelte
  sites/components.sveltin.io/src/routes/(packages)/services/[slug]/+layout.svelte
  sites/components.sveltin.io/src/routes/(packages)/services/[slug]/+page.svelte
  sites/components.sveltin.io/src/routes/(packages)/services/[slug]/+page.ts
  sites/components.sveltin.io/src/routes/(packages)/widgets/+page.server.ts
  sites/components.sveltin.io/src/routes/(packages)/widgets/+page.svelte
  sites/components.sveltin.io/src/routes/(packages)/widgets/[slug]/+layout.svelte
  sites/components.sveltin.io/src/routes/(packages)/widgets/[slug]/+page.svelte
  sites/components.sveltin.io/src/routes/(packages)/widgets/[slug]/+page.ts
Due: none

chore(vite.config.ts): ssr noExternal from svelte-iconoir added
  sites/components.sveltin.io/vite.config.ts
Due: none

chore: essentials/button-group added as content and menu file updated
  sites/components.sveltin.io/config/menu.js.ts
  sites/components.sveltin.io/content/essentials/button-group/index.svx
Due: none

chore: svelte-iconoir upgrade to v2.6.1
  sites/components.sveltin.io/content/essentials/button/index.svx
  sites/components.sveltin.io/content/essentials/dropdown/index.svx
  sites/components.sveltin.io/package.json
  sites/components.sveltin.io/src/lib/components/_ComponentPreview.svelte
Due: prettier --write --plugin-search-dir=. .

feat: initial ButtonGroup component
  packages/essentials/src/lib/components/button-group/ButtonGroup.svelte
  packages/essentials/src/lib/components/button-group/ButtonGroupItem.svelte
  packages/essentials/src/lib/components/button-group/index.ts
  packages/essentials/src/lib/components/button-group/types.ts
  packages/essentials/src/lib/index.ts
  packages/essentials/src/routes/demos/button-group/+page.svelte
  packages/essentials/tests/ButtonGroup.spec.ts
Due: none

fix(essentials): data-sveltekit-prefetch
  packages/essentials/src/lib/components/button/Button.svelte
  packages/essentials/src/lib/components/dropdown/DropdownItem.svelte
  packages/essentials/tests/Button.spec.ts
Due: none

fix(widgets): data-sveltekit-prefetch
  packages/widgets/src/lib/components/buttons/Button.svelte
  packages/widgets/src/lib/components/card/CardTitle.svelte
Due: none

chore(essentials): svelte-iconoir v2.6.1
  packages/essentials/README.md
  packages/essentials/package.json
  packages/essentials/src/data/sample.ts
  packages/essentials/src/routes/+page.svelte
  packages/essentials/src/routes/demos/button/+page.svelte
  packages/essentials/src/routes/demos/list/+page.svelte
Due: prettier --write --plugin-search-dir=. .

chore(components.sveltin.io): wrapper component for mdsvex example replaced
  sites/components.sveltin.io/content/essentials/button-group/index.svx
  sites/components.sveltin.io/content/essentials/button/index.svx
  sites/components.sveltin.io/content/essentials/dropdown/index.svx
  sites/components.sveltin.io/content/essentials/image/index.svx
  sites/components.sveltin.io/content/essentials/link/index.svx
  sites/components.sveltin.io/content/essentials/list/index.svx
  sites/components.sveltin.io/content/essentials/tabs/index.svx
  sites/components.sveltin.io/mdsvex.config.js
  sites/components.sveltin.io/src/app.css
  sites/components.sveltin.io/src/lib/components/_ButtonGroupPreview.svelte
  sites/components.sveltin.io/src/lib/components/_ComponentPreview.svelte
  sites/components.sveltin.io/src/lib/components/types.ts
Due: none

chore(overview): layout and design updated
  sites/components.sveltin.io/src/routes/(all)/+layout.svelte
  sites/components.sveltin.io/src/routes/(all)/overview/+page.svelte
  sites/components.sveltin.io/src/routes/(packages)/essentials/+page.svelte
Due: none

chore: deps updated
  package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore: deps updated
  package.json
  packages/essentials/README.md
  packages/essentials/package.json
  packages/essentials/src/data/sample.ts
  packages/essentials/src/routes/demos/button/+page.svelte
  packages/essentials/src/routes/demos/list/+page.svelte
  packages/essentials/tests/slot/ToggleListSlotTest.svelte
  packages/essentials/vite.config.ts
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
  sites/components.sveltin.io/content/essentials/button/index.svx
  sites/components.sveltin.io/content/essentials/list/index.svx
  sites/components.sveltin.io/package.json
  sites/components.sveltin.io/src/lib/components/_ButtonGroupPreview.svelte
  sites/components.sveltin.io/themes/site_theme/components/_CloseMobileSidebarMenuBtn.svelte
  sites/components.sveltin.io/themes/site_theme/components/_OpenMobileSidebarMenuBtn.svelte
  sites/components.sveltin.io/themes/site_theme/partials/DesktopSidebar.svelte
  sites/components.sveltin.io/themes/site_theme/partials/MobileSidebar.svelte
  sites/components.sveltin.io/themes/site_theme/partials/PrevNextButtons.svelte
  turbo.json
Due: prettier --write --plugin-search-dir=. .

refactor(essentials/link): unique component for both internal and external links
  packages/essentials/src/lib/components/link/ExternalLinkIcon.svelte
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/link/README.md
  packages/essentials/src/lib/components/link/styles.css
  packages/essentials/src/lib/components/list/README.md
  packages/essentials/src/lib/components/list/styles.css
  packages/essentials/src/routes/demos/_dummyIcon.svelte
  packages/essentials/src/routes/demos/link/+page.svelte
  packages/essentials/tests/Link.spec.ts
Due: none

revert(essentials): image component removed
  packages/essentials/README.md
  packages/essentials/src/lib/components/image/Image.svelte
  packages/essentials/src/lib/components/image/index.ts
  packages/essentials/src/lib/index.ts
  packages/essentials/src/routes/+page.svelte
  packages/essentials/src/routes/demos/image/+page.svelte
  packages/essentials/tests/Image.spec.ts
Due: none

chore(essentials): deps updated
  packages/essentials/package.json
  packages/essentials/svelte.config.js
  packages/essentials/vite.config.ts
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .
