Repository sveltinio/components-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

.lintstagedrc.json:

{
	"packages/**/*.{js, ts, svelte}": ["prettier --check", "eslint --fix"],
	"*.json": ["prettier --write --plugin-search-dir=. ."]
}

feat(essentials/link): closes #90
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/link/README.md
  packages/essentials/src/lib/components/link/styles.postcss
  packages/essentials/src/routes/demos/link/+page.svelte
Due: none

refactor(widgets): create classes.ts file and move BreakpointChecker there
  packages/widgets/src/lib/classes.ts
  packages/widgets/src/lib/components/card/CardImage.svelte
  packages/widgets/src/lib/components/responsive-card/CardImage.svelte
  packages/widgets/src/lib/index.ts
  packages/widgets/src/lib/utils.ts
Due: none

chore: set svelte as peer dependency
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore(packages): simplify patterns for the files field in package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

refactor: remove turbo
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write --plugin-search-dir=. .

chore: remove turbo entriy from .gitignore files
  .gitignore
  packages/essentials/.gitignore
  packages/media-content/.gitignore
  packages/seo/.gitignore
  packages/services/.gitignore
  packages/widgets/.gitignore
Due: none

refactor(husky): remove turbo and use pnpm
  .husky/pre-commit
  .husky/pre-push
Due: none

refactor(scripts): remove turbo and use pnpm
  scripts/clean_all.sh
  scripts/run.sh
Due: none

docs(README.md): remove reference to the usage of turborepo
  README.md
Due: none

ci: add format before lint
  .github/workflows/lint-test.yml
Due: none

refactor(eslint-config-custom): remove turbo
  packages/eslint-config-custom/index.cjs
  packages/eslint-config-custom/package.json
Due: prettier --write --plugin-search-dir=. .

ci: add format before lint
  .husky/pre-push
Due: none

chore: deps updated
  packages/essentials/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/stylelint-config-custom/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
  sites/components.sveltin.io/package.json
Due: prettier --write --plugin-search-dir=. .

fix(sites/components.sveltin.io): remove tailwindcss lineclamp plugin
  sites/components.sveltin.io/package.json
  sites/components.sveltin.io/tailwind.config.cjs
Due: prettier --write --plugin-search-dir=. .

fix(sites/components.sveltin.io): remove import remark-slug
  sites/components.sveltin.io/mdsvex.config.js
Due: none

chore(widgets/vite.config.js): deprecate deps.inline. Use deps.optimizer
  packages/widgets/vite.config.js
Due: prettier --check, eslint --fix

feat: upgrade to prettier 3 and prettier-plugin-svelte 3
  .lintstagedrc.json
  packages/essentials/.prettierrc
  packages/essentials/package.json
  packages/media-content/.prettierrc
  packages/media-content/package.json
  packages/seo/.prettierrc
  packages/seo/package.json
  packages/services/.prettierrc
  packages/services/package.json
  packages/widgets/.prettierrc
  packages/widgets/package.json
  sites/components.sveltin.io/.prettierrc
  sites/components.sveltin.io/package.json
Due: prettier --write --plugin-search-dir=. .

chore: run prettier
  packages/essentials/src/app.html
  packages/essentials/src/app.postcss
  packages/essentials/src/lib/components/dropdown/styles.postcss
  packages/essentials/src/lib/styles/tw-preflight.css
  packages/essentials/src/tw-preflight.css
  packages/media-content/src/app.html
  packages/media-content/src/app.postcss
  packages/media-content/src/tw-preflight.css
  packages/seo/src/app.css
  packages/seo/src/app.html
  packages/seo/src/tw-preflight.css
  packages/services/src/app.css
  packages/services/src/app.html
  packages/services/src/tw-preflight.css
  packages/widgets/src/app.html
  packages/widgets/src/app.postcss
  packages/widgets/src/lib/styles/tw-preflight.css
  packages/widgets/src/tw-preflight.css
  sites/components.sveltin.io/src/app.html
  sites/components.sveltin.io/static/prism/themes/prism-coy-without-shadows.css
  sites/components.sveltin.io/static/prism/themes/prism-material-dark.css
  sites/components.sveltin.io/static/prism/themes/prism-material-light.css
  sites/components.sveltin.io/static/prism/themes/prism-material-oceanic.css
  sites/components.sveltin.io/static/prism/themes/prism-synthwave84.css
Due: none

chore: run prettier again
  packages/seo/src/app.css
  packages/seo/src/app.html
  packages/seo/src/tw-preflight.css
  packages/services/src/app.css
  packages/services/src/app.html
  packages/services/src/tw-preflight.css
Due: none

feat: add svelte 4 support as peer dep
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

fix(widgets): ensure run svelte-kit sync
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): release v0.7.7
  packages/widgets/CHANGELOG.md
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore(essentials): add support to svelte 4
  packages/essentials/CHANGELOG.md
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore(media-content): add support to svelte 4
  packages/media-content/CHANGELOG.md
  packages/media-content/package.json
Due: prettier --write --plugin-search-dir=. .

chore(seo): add support to svelte 4
  packages/seo/CHANGELOG.md
  packages/seo/package.json
Due: prettier --write --plugin-search-dir=. .

chore(services): add support to svelte 4
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): bump @sveltinio/essentials dep to v0.7.9
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): release v0.7.8
  packages/widgets/CHANGELOG.md
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

docs(README.md): updated
  README.md
Due: none

ci(dependabot): change schedule interval to monthly
  .github/dependabot.yml
Due: none

fix(widgets): properly handle undefined href in PagesNavigator
  packages/widgets/src/lib/components/pages-navigator/PagesNavigator.svelte
  packages/widgets/src/routes/demos/pages-navigator/+page.svelte
Due: none

fix(widgets): css class name for PagesNavigator spacer
  packages/widgets/src/lib/components/pages-navigator/partials/Spacer.svelte
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore(widgets): release v0.7.9
  packages/widgets/CHANGELOG.md
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

refactor(widgets): simplifying breadcrumbs component
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/breadcrumbs/README.md
  packages/widgets/src/lib/components/breadcrumbs/styles.postcss
  packages/widgets/src/lib/styles/components/breadcrumbs/variables.css
  packages/widgets/src/routes/demos/breadcrumbs/+page.svelte
Due: none

ci(essentials): add chokidar-cli as dev dep
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore(essentials): add open-props as dev dep
  packages/essentials/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

style(essentials): update ColorViewer using open-props
  packages/essentials/src/lib/components/color/ColorViewer.svelte
  packages/essentials/src/lib/components/color/styles.postcss
  packages/essentials/src/lib/styles/baseline.css
Due: none

refactor(essentials/button): css layers and open-props
  packages/essentials/.pa11yci
  packages/essentials/src/lib/components/button/Button.svelte
  packages/essentials/src/lib/components/button/README.md
  packages/essentials/src/lib/components/button/THEMING.md
  packages/essentials/src/lib/components/button/styles.postcss
  packages/essentials/src/lib/styles/baseline.css
  packages/essentials/src/lib/types.ts
  packages/essentials/src/lib/utils.ts
  packages/essentials/src/routes/demos/button/+page.svelte
Due: none
