Repository sveltinio/components-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

.lintstagedrc.json:

{
	"packages/**/*.{js, ts, svelte}": ["prettier --check", "eslint --fix"],
	"*.json": ["prettier --write --plugin-search-dir=. ."]
}

refactor(widgets/pagesnavigator): make it compliant with the design rules
  packages/widgets/src/lib/components/toc/README.md
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/TocItem.svelte
  packages/widgets/src/lib/components/toc/TocList.svelte
  packages/widgets/src/lib/components/toc/styles.css
  packages/widgets/src/lib/components/toc/styles.postcss
  packages/widgets/src/lib/components/toc/variables.css
  packages/widgets/src/routes/demos/toc/+page.svelte
  packages/widgets/tests/TOC.spec.ts
Due: none

docs(widgets): readme updated
  packages/widgets/README.md
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

feat(widgets): scroll-to-top button component added
  packages/widgets/README.md
  packages/widgets/package.json
  packages/widgets/src/lib/components/scroll-to-top/README.md
  packages/widgets/src/lib/components/scroll-to-top/ScrollToTopButton.svelte
  packages/widgets/src/lib/components/scroll-to-top/index.ts
  packages/widgets/src/lib/components/scroll-to-top/styles.css
  packages/widgets/src/lib/components/scroll-to-top/styles.postcss
  packages/widgets/src/lib/components/scroll-to-top/variables.css
  packages/widgets/src/lib/index.ts
  packages/widgets/src/routes/demos/+page.svelte
  packages/widgets/src/routes/demos/scroll-to-top/+page.svelte
  packages/widgets/tests/ScrollToTopButtons.spec.ts
Due: prettier --write --plugin-search-dir=. .

chore(widgets): deps updated
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): toc component updated
  packages/widgets/src/lib/components/toc/README.md
  packages/widgets/src/lib/components/toc/THEMING.md
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/TocButton.svelte
  packages/widgets/src/lib/components/toc/TocItem.svelte
  packages/widgets/src/lib/components/toc/TocList.svelte
  packages/widgets/src/lib/components/toc/assets/images/component_structure.png
  packages/widgets/src/lib/components/toc/assets/images/default.gif
  packages/widgets/src/lib/components/toc/assets/images/icon-only.gif
  packages/widgets/src/lib/components/toc/assets/images/ordered.gif
  packages/widgets/src/lib/components/toc/assets/images/styled.gif
  packages/widgets/src/lib/components/toc/index.ts
  packages/widgets/src/lib/components/toc/styles.css
  packages/widgets/src/lib/components/toc/styles.postcss
  packages/widgets/src/lib/components/toc/variables.css
  packages/widgets/src/routes/demos/toc/+page.svelte
  packages/widgets/tests/TOC.spec.ts
Due: none

chore(widgets): card component updated
  packages/widgets/src/lib/components/card/Card.svelte
  packages/widgets/src/lib/components/card/CardAction.svelte
  packages/widgets/src/lib/components/card/CardButton.svelte
  packages/widgets/src/lib/components/card/CardContent.svelte
  packages/widgets/src/lib/components/card/CardCover.svelte
  packages/widgets/src/lib/components/card/CardImage.svelte
  packages/widgets/src/lib/components/card/CardMetadata.svelte
  packages/widgets/src/lib/components/card/CardTitleLink.svelte
  packages/widgets/src/lib/components/card/README.md
  packages/widgets/src/lib/components/card/THEMING.md
  packages/widgets/src/lib/components/card/assets/images/component_structure.png
  packages/widgets/src/lib/components/card/assets/images/default.png
  packages/widgets/src/lib/components/card/assets/images/full.png
  packages/widgets/src/lib/components/card/assets/images/title_link.png
  packages/widgets/src/lib/components/card/index.ts
  packages/widgets/src/lib/components/card/styles.css
  packages/widgets/src/lib/components/card/styles.postcss
  packages/widgets/src/lib/components/card/variables.css
  packages/widgets/src/lib/components/reset.css
  packages/widgets/src/lib/index.ts
  packages/widgets/src/lib/utils.ts
  packages/widgets/src/routes/demos/card/+page.svelte
  packages/widgets/tests/Card.spec.ts
  packages/widgets/tests/slot/CardActionSlotTest.svelte
  packages/widgets/tests/slot/CardSlotTest.svelte
  packages/widgets/tests/slot/index.ts
Due: none

chore(widgets): pagesnavigator component updated
  packages/widgets/src/lib/components/pagesnavigator/Next.svelte
  packages/widgets/src/lib/components/pagesnavigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/pagesnavigator/Previous.svelte
  packages/widgets/src/lib/components/pagesnavigator/README.md
  packages/widgets/src/lib/components/pagesnavigator/Spacer.svelte
  packages/widgets/src/lib/components/pagesnavigator/THEMING.md
  packages/widgets/src/lib/components/pagesnavigator/assets/images/component_structure.png
  packages/widgets/src/lib/components/pagesnavigator/assets/images/custom_1.png
  packages/widgets/src/lib/components/pagesnavigator/assets/images/custom_2.png
  packages/widgets/src/lib/components/pagesnavigator/assets/images/custom_3.png
  packages/widgets/src/lib/components/pagesnavigator/assets/images/default.png
  packages/widgets/src/lib/components/pagesnavigator/styles.css
  packages/widgets/src/lib/components/pagesnavigator/styles.postcss
  packages/widgets/src/lib/components/pagesnavigator/variables.css
  packages/widgets/src/routes/demos/pagesnavigator/+page.svelte
  packages/widgets/tests/PagesNavigator.spec.ts
Due: none

chore(widgets): scroll-to-top-button component updated
  packages/widgets/src/lib/components/scroll-to-top/README.md
  packages/widgets/src/lib/components/scroll-to-top/ScrollToTopButton.svelte
  packages/widgets/src/lib/components/scroll-to-top/THEMING.md
  packages/widgets/src/lib/components/scroll-to-top/styles.css
  packages/widgets/src/lib/components/scroll-to-top/styles.postcss
  packages/widgets/src/lib/components/scroll-to-top/variables.css
  packages/widgets/src/routes/demos/scroll-to-top/+page.svelte
  packages/widgets/tests/ScrollToTopButtons.spec.ts
Due: none

chore(widgets): responsivecard component updated
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/breadcrumbs/README.md
  packages/widgets/src/lib/components/breadcrumbs/styles.css
  packages/widgets/src/lib/components/breadcrumbs/styles.postcss
  packages/widgets/src/lib/components/breadcrumbs/variables.css
  packages/widgets/src/lib/components/card/assets/diagrams/card.d2
  packages/widgets/src/lib/components/pagesnavigator/assets/diagrams/pagesnavigator.d2
  packages/widgets/src/lib/components/responsivecard/CardContent.svelte
  packages/widgets/src/lib/components/responsivecard/CardImage.svelte
  packages/widgets/src/lib/components/responsivecard/CardInfo.svelte
  packages/widgets/src/lib/components/responsivecard/CardTitle.svelte
  packages/widgets/src/lib/components/responsivecard/CardTitleLink.svelte
  packages/widgets/src/lib/components/responsivecard/README.md
  packages/widgets/src/lib/components/responsivecard/ResponsiveCard.svelte
  packages/widgets/src/lib/components/responsivecard/THEMING.md
  packages/widgets/src/lib/components/responsivecard/assets/diagrams/responsive_card.d2
  packages/widgets/src/lib/components/responsivecard/assets/images/component_structure.png
  packages/widgets/src/lib/components/responsivecard/assets/images/desktop.png
  packages/widgets/src/lib/components/responsivecard/assets/images/mobile.png
  packages/widgets/src/lib/components/responsivecard/styles.css
  packages/widgets/src/lib/components/responsivecard/styles.postcss
  packages/widgets/src/lib/components/responsivecard/variables.css
  packages/widgets/src/lib/components/scroll-to-top/styles.css
  packages/widgets/src/lib/components/toc/assets/diagrams/toc.d2
  packages/widgets/src/routes/demos/breadcrumbs/+page.svelte
  packages/widgets/src/routes/demos/responsivecard/+page.svelte
  packages/widgets/svelte.config.js
  packages/widgets/tests/ResponsiveCard.spec.ts
Due: prettier --check, eslint --fix

chore(widgets): demo page and styles updated
  packages/widgets/src/app.postcss
  packages/widgets/src/routes/+page.svelte
  scripts/README.md
Due: none

chore: deps updated
  docs/design-rules.md
  package.json
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/essentials/postcss.config.cjs
  packages/essentials/src/app.postcss
  packages/essentials/styles-builder.js
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/stylelint-config-custom/index.cjs
  pnpm-lock.yaml
  turbo.json
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

chore: deps updated
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/stylelint-config-custom/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

revert(essentials): scroll-to-top-button component removed
  packages/essentials/src/lib/components/scroll-to-top/README.md
  packages/essentials/src/lib/components/scroll-to-top/ScrollToTopButton.svelte
  packages/essentials/src/lib/components/scroll-to-top/index.ts
  packages/essentials/src/lib/components/scroll-to-top/styles.css
  packages/essentials/src/lib/components/scroll-to-top/styles.postcss
  packages/essentials/src/lib/components/scroll-to-top/variables.css
  packages/essentials/src/routes/demos/scroll-to-top/+page.svelte
  packages/essentials/tests/ScrollToTopButtons.spec.ts
Due: none

refactor(seo): types
  packages/seo/README.md
  packages/seo/postcss.config.cjs
  packages/seo/src/app.css
  packages/seo/src/app.postcss
  packages/seo/src/data/sample.ts
  packages/seo/src/lib/components/metatag/OpenGraph.svelte
  packages/seo/src/lib/components/metatag/PageMetaTags.svelte
  packages/seo/src/lib/components/metatag/TwitterCard.svelte
  packages/seo/src/lib/components/schemaorg/JsonLdBreadcrumbs.svelte
  packages/seo/src/lib/components/schemaorg/JsonLdSiteNavigationElements.svelte
  packages/seo/src/lib/components/schemaorg/JsonLdWebPage.svelte
  packages/seo/src/lib/components/schemaorg/JsonLdWebSite.svelte
  packages/seo/src/lib/types.ts
  packages/seo/src/routes/+layout.svelte
  packages/seo/src/routes/+page.svelte
  packages/seo/src/routes/posts/+page.svelte
  packages/seo/svelte.config.js
  packages/seo/tests/JsonLdBreadcrumbs.spec.ts
  packages/seo/tests/JsonLdSiteNavigationElements.spec.ts
  packages/seo/tests/JsonLdWebSite.spec.ts
Due: prettier --check, eslint --fix

refactor(stylelint-config-custom): selector-class-pattern
  packages/stylelint-config-custom/README.md
  packages/stylelint-config-custom/index.cjs
Due: none

revert(widgets): version number
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): bump version to 0.3.0
  packages/widgets/CHANGELOG.md
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore(seo): bump version to 0.2.0
  packages/seo/CHANGELOG.md
  packages/seo/package.json
Due: prettier --write --plugin-search-dir=. .

chore: upgrade svelte-preprocess to v5.0.0
  package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore(esseentials): stylelint and stylelint-config-custom devDeps added
  packages/essentials/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

ci: fix tests
  packages/essentials/package.json
  packages/essentials/src/lib/index.ts
  packages/widgets/package.json
  turbo.json
Due: prettier --write --plugin-search-dir=. .

fix(widgets): import string for TOC component
  packages/widgets/src/lib/components/toc/index.ts
Due: none

ci: pnpm/action-setup@v2 to use the latest version
  .github/workflows/lint-test.yml
Due: none

refactor(essentials/button): completed
  packages/essentials/src/app.postcss
  packages/essentials/src/lib/components/button/Button.svelte
  packages/essentials/src/lib/components/button/README.md
  packages/essentials/src/lib/components/button/THEMING.md
  packages/essentials/src/lib/components/button/assets/images/showcase.png
  packages/essentials/src/lib/components/button/btn-styles.css
  packages/essentials/src/lib/components/button/styles.css
  packages/essentials/src/lib/components/button/styles.postcss
  packages/essentials/src/lib/components/button/variables.css
  packages/essentials/src/lib/components/reset.css
  packages/essentials/src/lib/index.ts
  packages/essentials/src/routes/demos/button/+page.svelte
  packages/essentials/tests/Button.spec.ts
Due: none

chore(essentials): demo page updated, styles.css file for button added
  packages/essentials/src/lib/components/button/styles.css
  packages/essentials/src/routes/+page.svelte
  packages/essentials/src/routes/demos/+page.svelte
Due: none

docs(essentials/button): update README and fix links in THEMING
  packages/essentials/src/lib/components/button/README.md
  packages/essentials/src/lib/components/button/THEMING.md
Due: none

chore(essentials/button): variables.css formatted
  packages/essentials/src/lib/components/button/THEMING.md
  packages/essentials/src/lib/components/button/variables.css
Due: none

chore(essentials): svelte-check upgraded to v3.0.1
  packages/essentials/package.json
  packages/essentials/vite.config.js
  pnpm-lock.yaml
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

chore(stylelint-config-custom): selector-class-pattern updated with double dashes for modifiers
  packages/stylelint-config-custom/index.cjs
Due: none

chore(essentials/button): selector-class-pattern updated & :where to scope classes to the component
  packages/essentials/src/lib/components/button/Button.svelte
  packages/essentials/src/lib/components/button/styles.css
  packages/essentials/src/lib/components/button/styles.postcss
  packages/essentials/src/lib/components/button/variables.css
  packages/essentials/tests/Button.spec.ts
Due: none

refactor(essentials/link): completed
  packages/essentials/src/app.postcss
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/link/README.md
  packages/essentials/src/lib/components/link/THEMING.md
  packages/essentials/src/lib/components/link/link-styles.css
  packages/essentials/src/lib/components/link/styles.css
  packages/essentials/src/lib/components/link/styles.postcss
  packages/essentials/src/lib/components/link/variables.css
  packages/essentials/src/routes/demos/link/+page.svelte
  packages/essentials/tests/Link.spec.ts
Due: none

refactor(essentials/colorviewer): completed
  packages/essentials/src/lib/components/color/ColorViewer.svelte
  packages/essentials/src/lib/components/color/README.md
  packages/essentials/src/lib/components/color/THEMING.md
  packages/essentials/src/lib/components/color/styles.css
  packages/essentials/src/lib/components/color/styles.postcss
  packages/essentials/src/lib/components/color/variables.css
  packages/essentials/src/routes/demos/color/+page.svelte
Due: none

chore(essentials): isValidClassName utility method added to avoid overriding default css class names
  packages/essentials/src/lib/utils.ts
Due: none

refactor(essentials/button): css class names
  packages/essentials/src/lib/components/button/Button.svelte
  packages/essentials/src/lib/components/button/README.md
  packages/essentials/src/lib/components/button/THEMING.md
  packages/essentials/src/lib/components/button/styles.css
  packages/essentials/src/lib/components/button/styles.postcss
  packages/essentials/src/lib/components/button/variables.css
  packages/essentials/tests/Button.spec.ts
Due: none

refactor(essentials/colorviewer): css class names
  packages/essentials/src/lib/components/color/ColorViewer.svelte
  packages/essentials/src/lib/components/color/README.md
  packages/essentials/src/lib/components/color/THEMING.md
  packages/essentials/src/lib/components/color/styles.css
  packages/essentials/src/lib/components/color/styles.postcss
  packages/essentials/src/lib/components/color/variables.css
Due: none

refactor(essentials/link): css class names
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/link/README.md
  packages/essentials/src/lib/components/link/THEMING.md
  packages/essentials/src/lib/components/link/styles.css
  packages/essentials/src/lib/components/link/styles.postcss
  packages/essentials/src/lib/components/link/variables.css
Due: none

refactor(essentials/button-group): completed. migrated to postcss with new vars naming convention
  packages/essentials/src/app.postcss
  packages/essentials/src/lib/components/button-group/ButtonGroup.svelte
  packages/essentials/src/lib/components/button-group/ButtonGroupItem.svelte
  packages/essentials/src/lib/components/button-group/README.md
  packages/essentials/src/lib/components/button-group/THEMING.md
  packages/essentials/src/lib/components/button-group/assets/images/custom_styles_class.png
  packages/essentials/src/lib/components/button-group/assets/images/custom_styles_prop.png
  packages/essentials/src/lib/components/button-group/assets/images/default.png
  packages/essentials/src/lib/components/button-group/btngroup-styles.css
  packages/essentials/src/lib/components/button-group/styles.css
  packages/essentials/src/lib/components/button-group/styles.postcss
  packages/essentials/src/lib/components/button-group/variables.css
  packages/essentials/src/routes/demos/button-group/+page.svelte
Due: none

chore(essentials): exclude the whole assets folder to be part of the package
  packages/essentials/svelte.config.js
Due: prettier --check, eslint --fix

refactor(essentials/button-group): colors as hsl
  packages/essentials/src/lib/components/button-group/variables.css
Due: none

chore(essentials/button): console error when class name is one of the default ones
  packages/essentials/src/app.postcss
  packages/essentials/src/lib/components/button/Button.svelte
  packages/essentials/src/lib/components/button/README.md
  packages/essentials/src/lib/components/button/THEMING.md
  packages/essentials/src/lib/components/button/styles.css
  packages/essentials/src/lib/components/button/styles.postcss
Due: none
