Repository sveltinio/components-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

fix(seo): duplicated & nested svelte:head in OpenGraph and TwitterCard
  packages/seo/src/lib/components/metadata/opengraph/OpenGraph.svelte
  packages/seo/src/lib/components/metadata/twittercard/TwitterCard.svelte
Due: none

fix(seo): demo page import for JsonLdSiteNavigationElements
  packages/seo/src/routes/+page.svelte
Due: none

chore: update turbo to v1.8.2
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore: update pnpm to v7.27.1
  package.json
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/stylelint-config-custom/package.json
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore: update vite to v4.1.4
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore(seo): bump version to 0.3.3
  packages/seo/CHANGELOG.md
  packages/seo/package.json
Due: prettier --write --plugin-search-dir=. .

chore(packages): deps updated
  package.json
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/stylelint-config-custom/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore: update pnpm to v7.28.0
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/stylelint-config-custom/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
  sites/components.sveltin.io/package.json
Due: prettier --write --plugin-search-dir=. .

fix(seo): avoid duplicated entries for JsonLdBreadcrumbs when current is empty
  packages/seo/src/lib/components/schemaorg/breadcrumbs/JsonLdBreadcrumbs.svelte
Due: none

chore(seo): bump version to 0.3.4
  packages/seo/CHANGELOG.md
  packages/seo/package.json
Due: prettier --write --plugin-search-dir=. .

chore: update pnpm to v7.29.0
  package.json
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

fix(seo): description for JsonLdWebSite. cleanup SEOWebSite type
  packages/seo/src/data/sample.ts
  packages/seo/src/lib/components/schemaorg/website/JsonLdWebSite.svelte
  packages/seo/src/lib/components/schemaorg/website/README.md
  packages/seo/src/lib/types.ts
  packages/seo/tests/JsonLdWebSite.spec.ts
Due: none

chore: deps updated
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore(seo): bump version to 0.3.5
  packages/seo/CHANGELOG.md
  packages/seo/package.json
Due: prettier --write --plugin-search-dir=. .

chore: migration to @sveltejs/package v2
  copyPkgJson.mjs
  packages/seo/package.json
  packages/seo/src/lib/components/metadata/index.ts
  packages/seo/src/lib/components/metadata/opengraph/index.ts
  packages/seo/src/lib/components/metadata/twittercard/index.ts
  packages/seo/src/lib/components/schemaorg/breadcrumbs/index.ts
  packages/seo/src/lib/components/schemaorg/index.ts
  packages/seo/src/lib/components/schemaorg/sitenavigationelements/index.ts
  packages/seo/src/lib/components/schemaorg/webpage/index.ts
  packages/seo/src/lib/components/schemaorg/website/index.ts
  packages/seo/src/lib/index.ts
  packages/seo/svelte.config.js
  pnpm-lock.yaml
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

chore: npm deps updated
  package.json
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore: update pnpm to v7.29.1
  package.json
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/stylelint-config-custom/package.json
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore: migration to @sveltejs/package v2
  packages/essentials/package.json
  packages/essentials/src/lib/components/button-group/index.ts
  packages/essentials/src/lib/components/button/index.ts
  packages/essentials/src/lib/components/color/index.ts
  packages/essentials/src/lib/components/dropdown/index.ts
  packages/essentials/src/lib/components/link/index.ts
  packages/essentials/src/lib/components/list/index.ts
  packages/essentials/src/lib/components/tabs/index.ts
  packages/essentials/src/lib/index.ts
  packages/essentials/svelte.config.js
  pnpm-lock.yaml
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

chore(media-content): migration to @sveltejs/package v2
  packages/media-content/package.json
  packages/media-content/src/lib/components/basic/index.ts
  packages/media-content/src/lib/components/codepen/index.ts
  packages/media-content/src/lib/components/codesandbox/index.ts
  packages/media-content/src/lib/components/facebook/index.ts
  packages/media-content/src/lib/components/slideshare/index.ts
  packages/media-content/src/lib/components/stackblitz/index.ts
  packages/media-content/src/lib/components/tweet/index.ts
  packages/media-content/src/lib/components/vimeo/index.ts
  packages/media-content/src/lib/components/youtube/index.ts
  packages/media-content/src/lib/index.ts
  packages/media-content/svelte.config.js
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

chore(services): migration to @sveltejs/package v2
  packages/services/package.json
  packages/services/src/lib/components/google/analytics/index.ts
  packages/services/src/lib/components/google/fonts/index.ts
  packages/services/src/lib/components/google/index.ts
  packages/services/src/lib/components/umami/index.ts
  packages/services/src/lib/index.ts
  packages/services/svelte.config.js
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

fix(services): set @types/gtag.js as dependency
  packages/services/package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): migration to @sveltejs/package v2
  packages/widgets/package.json
  packages/widgets/src/lib/components/breadcrumbs/index.ts
  packages/widgets/src/lib/components/card/index.ts
  packages/widgets/src/lib/components/pagesnavigator/index.ts
  packages/widgets/src/lib/components/responsivecard/index.ts
  packages/widgets/src/lib/components/scroll-to-top/index.ts
  packages/widgets/src/lib/components/toc/index.ts
  packages/widgets/src/lib/index.ts
  packages/widgets/svelte.config.js
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

chore(seo): makes use of files field in package.json
  packages/seo/package.json
Due: prettier --write --plugin-search-dir=. .

chore(essentials): makes use of files field in package.json
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore(plop): update export string templates
  .templates/component/definition/index.ts.hbs
  .templates/component/lib-index.ts.hbs
Due: none

fix(seo): pkg.exports
  packages/seo/package.json
Due: prettier --write --plugin-search-dir=. .

fix(essentials): pkg.exports
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore: update pnpm to v7.29.2
  package.json
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/stylelint-config-custom/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore: remove README.md files at components level as postbuild step
  cleanDist.mjs
  copyPkgJson.mjs
  package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore: bump packages versions
  packages/essentials/CHANGELOG.md
  packages/essentials/package.json
  packages/media-content/CHANGELOG.md
  packages/media-content/package.json
  packages/seo/CHANGELOG.md
  packages/seo/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/widgets/CHANGELOG.md
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

fix(essentials/dropdown): a11y non-interactive element <ul> cannot have interactive role 'menu'
  packages/essentials/src/lib/components/dropdown/DropdownContent.svelte
Due: none

chore: update deps and dev deps
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

docs(essentials): update to reflect changes on how to import the components
  packages/essentials/src/lib/components/button-group/README.md
  packages/essentials/src/lib/components/button-group/THEMING.md
  packages/essentials/src/lib/components/button/README.md
  packages/essentials/src/lib/components/button/THEMING.md
  packages/essentials/src/lib/components/color/README.md
  packages/essentials/src/lib/components/color/THEMING.md
  packages/essentials/src/lib/components/dropdown/README.md
  packages/essentials/src/lib/components/dropdown/THEMING.md
  packages/essentials/src/lib/components/link/README.md
  packages/essentials/src/lib/components/list/README.md
  packages/essentials/src/lib/components/list/THEMING.md
  packages/essentials/src/lib/components/tabs/README.md
  packages/essentials/src/lib/components/tabs/THEMING.md
  packages/essentials/src/routes/demos/link/+page.svelte
Due: none

docs: license badge added on REAME.md
  packages/essentials/README.md
  packages/media-content/README.md
  packages/seo/README.md
  packages/services/README.md
  packages/widgets/README.md
Due: none

docs(media-content): update to reflect changes on how to import the components
  packages/media-content/src/lib/components/codepen/README.md
  packages/media-content/src/lib/components/codesandbox/README.md
  packages/media-content/src/lib/components/facebook/README.md
  packages/media-content/src/lib/components/slideshare/README.md
  packages/media-content/src/lib/components/stackblitz/README.md
  packages/media-content/src/lib/components/tweet/README.md
  packages/media-content/src/lib/components/vimeo/README.md
  packages/media-content/src/lib/components/youtube/README.md
Due: none

fix(seo): keywords not properly used on JsonLdWebSite component
  packages/seo/src/lib/components/schemaorg/website/JsonLdWebSite.svelte
Due: none

docs(seo): update to reflect changes on how to import the components
  packages/seo/src/lib/components/metadata/README.md
  packages/seo/src/lib/components/schemaorg/breadcrumbs/README.md
  packages/seo/src/lib/components/schemaorg/sitenavigationelements/README.md
  packages/seo/src/lib/components/schemaorg/webpage/README.md
  packages/seo/src/lib/components/schemaorg/website/README.md
Due: none

docs(services): update to reflect changes on how to import the components
  packages/services/src/lib/components/google/analytics/README.md
  packages/services/src/lib/components/google/fonts/README.md
  packages/services/src/lib/components/umami/README.md
Due: none

fix(widgets): postcss output folder
  packages/widgets/src/lib/components/pages-navigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/responsive-card/ResponsiveCard.svelte
  packages/widgets/src/lib/styles/components/pages-navigator/variables.css
  packages/widgets/src/lib/styles/components/responsive-card/badge.css
  packages/widgets/src/lib/styles/components/responsive-card/variables.css
Due: none

Path conditions:
  prettier --check: any of: packages/**/*.{js, ts, svelte}
  eslint --fix: any of: packages/**/*.{js, ts, svelte}
  prettier --write --plugin-search-dir=. .: any of: *.json
