Repository sveltinio/components-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

chore(essentials/buttongroup): console error when class name is one of the default ones
  packages/essentials/src/lib/components/button-group/ButtonGroup.svelte
  packages/essentials/src/lib/components/button-group/ButtonGroupItem.svelte
  packages/essentials/src/lib/components/button-group/README.md
  packages/essentials/src/lib/components/button-group/THEMING.md
  packages/essentials/src/lib/components/button-group/styles.css
  packages/essentials/src/lib/components/button-group/styles.postcss
Due: none

chore(essentials/color): console error when class name is one of the default ones
  packages/essentials/src/lib/components/color/ColorViewer.svelte
  packages/essentials/src/lib/components/color/THEMING.md
  packages/essentials/src/lib/components/color/styles.css
  packages/essentials/src/lib/components/color/styles.postcss
Due: none

refactor(essentials/dropdown): completed. icon components removed
  packages/essentials/src/lib/components/dropdown/Dropdown.svelte
  packages/essentials/src/lib/components/dropdown/DropdownButton.svelte
  packages/essentials/src/lib/components/dropdown/DropdownContent.svelte
  packages/essentials/src/lib/components/dropdown/DropdownItem.svelte
  packages/essentials/src/lib/components/dropdown/README.md
  packages/essentials/src/lib/components/dropdown/THEMING.md
  packages/essentials/src/lib/components/dropdown/assets/diagrams/dropdown.d2
  packages/essentials/src/lib/components/dropdown/assets/images/component_structure.png
  packages/essentials/src/lib/components/dropdown/assets/images/default.png
  packages/essentials/src/lib/components/dropdown/dropdown-styles.css
  packages/essentials/src/lib/components/dropdown/index.ts
  packages/essentials/src/lib/components/dropdown/styles.css
  packages/essentials/src/lib/components/dropdown/styles.postcss
  packages/essentials/src/lib/components/dropdown/variables.css
  packages/essentials/src/lib/components/icons/ArrowDownIcon.svelte
  packages/essentials/src/lib/components/icons/ArrowRightIcon.svelte
  packages/essentials/src/lib/components/icons/ArrowUpIcon.svelte
  packages/essentials/src/lib/components/icons/index.ts
  packages/essentials/src/lib/index.ts
  packages/essentials/src/routes/demos/dropdown/+page.svelte
Due: none

chore(essentials/list): console error when class name is one of the default ones
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/link/THEMING.md
  packages/essentials/src/lib/components/link/styles.css
  packages/essentials/src/lib/components/link/styles.postcss
Due: none

chore(essentials/essentials): deps updated. svelte-iconoir moved from dep to devDep
  packages/essentials/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

docs(design-rules.md): updated
  docs/design-rules.md
Due: none

refactor(essentials/list): almost completed. TODO active class handling
  packages/essentials/src/lib/components/list/README.md
  packages/essentials/src/lib/components/list/THEMING.md
  packages/essentials/src/lib/components/list/ToggleList.svelte
  packages/essentials/src/lib/components/list/assets/images/custom-styles.png
  packages/essentials/src/lib/components/list/assets/images/default.png
  packages/essentials/src/lib/components/list/assets/images/left-side-icon.png
  packages/essentials/src/lib/components/list/list-styles.css
  packages/essentials/src/lib/components/list/styles.css
  packages/essentials/src/lib/components/list/styles.postcss
  packages/essentials/src/lib/components/list/types.ts
  packages/essentials/src/lib/components/list/variables.css
  packages/essentials/src/routes/demos/+page.svelte
  packages/essentials/src/routes/demos/list/+page.svelte
  packages/essentials/tests/ToggleList.spec.ts
Due: none

chore(essentials/dropdown): tuning and THEMING.md updated
  packages/essentials/src/app.postcss
  packages/essentials/src/lib/components/dropdown/DropdownItem.svelte
  packages/essentials/src/lib/components/dropdown/THEMING.md
  packages/essentials/src/lib/components/dropdown/assets/images/custom_styles.png
  packages/essentials/src/lib/components/dropdown/assets/images/default.png
  packages/essentials/src/lib/components/dropdown/styles.postcss
  packages/essentials/src/lib/components/dropdown/variables.css
Due: none

chore(essentials): cross-env added as devDep and scripts updated
  packages/essentials/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore(essentials): colors.css file added
  packages/essentials/src/lib/components/colors.css
Due: none

refactor(essentials/button): make use of colors.css
  packages/essentials/src/lib/components/button/Button.svelte
  packages/essentials/src/lib/components/button/styles.css
  packages/essentials/src/lib/components/button/styles.postcss
  packages/essentials/src/lib/components/button/variables.css
Due: none

refactor(essentials/buttongroup): make use of colors.css
  packages/essentials/src/lib/components/button-group/ButtonGroup.svelte
  packages/essentials/src/lib/components/button-group/styles.css
  packages/essentials/src/lib/components/button-group/styles.postcss
  packages/essentials/src/lib/components/button-group/variables.css
Due: none

refactor(essentials/color): make use of colors.css
  packages/essentials/src/lib/components/color/ColorViewer.svelte
  packages/essentials/src/lib/components/color/styles.css
  packages/essentials/src/lib/components/color/styles.postcss
  packages/essentials/src/lib/components/color/variables.css
Due: none

refactor(essentials/dropdown): make use of colors.css
  packages/essentials/src/lib/components/dropdown/Dropdown.svelte
  packages/essentials/src/lib/components/dropdown/styles.css
  packages/essentials/src/lib/components/dropdown/styles.postcss
  packages/essentials/src/lib/components/dropdown/variables.css
  packages/essentials/src/routes/demos/dropdown/+page.svelte
Due: none

refactor(essentials/link): make use of colors.css
  packages/essentials/src/lib/components/link/ExternalLinkIcon.svelte
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/link/styles.css
  packages/essentials/src/lib/components/link/styles.postcss
  packages/essentials/src/lib/components/link/variables.css
Due: none

refactor(essentials/list): make use of colors.css
  packages/essentials/src/lib/components/list/ToggleList.svelte
  packages/essentials/src/lib/components/list/action.ts
  packages/essentials/src/lib/components/list/styles.css
  packages/essentials/src/lib/components/list/styles.postcss
  packages/essentials/src/lib/components/list/variables.css
  packages/essentials/src/routes/demos/list/+page.svelte
Due: none

refactor(essentials/tabs): completed
  packages/essentials/src/lib/components/tabs/README.md
  packages/essentials/src/lib/components/tabs/THEMING.md
  packages/essentials/src/lib/components/tabs/Tab.svelte
  packages/essentials/src/lib/components/tabs/Tabs.svelte
  packages/essentials/src/lib/components/tabs/TabsGroup.svelte
  packages/essentials/src/lib/components/tabs/assets/diagrams/tabs.d2
  packages/essentials/src/lib/components/tabs/assets/images/bordered.png
  packages/essentials/src/lib/components/tabs/assets/images/component_structure.png
  packages/essentials/src/lib/components/tabs/assets/images/custom_class_1.png
  packages/essentials/src/lib/components/tabs/assets/images/custom_class_2.png
  packages/essentials/src/lib/components/tabs/assets/images/custom_class_3.png
  packages/essentials/src/lib/components/tabs/assets/images/custom_props.png
  packages/essentials/src/lib/components/tabs/assets/images/default.png
  packages/essentials/src/lib/components/tabs/styles.css
  packages/essentials/src/lib/components/tabs/styles.postcss
  packages/essentials/src/lib/components/tabs/tabs-styles.css
  packages/essentials/src/lib/components/tabs/types.ts
  packages/essentials/src/lib/components/tabs/variables.css
  packages/essentials/src/routes/demos/_dummyIcon.svelte
  packages/essentials/src/routes/demos/tabs/+page.svelte
  packages/essentials/tests/Tabs.spec.ts
  packages/essentials/tests/slot/TabSlotTest.svelte
Due: none

chore(essentials): app.postcss file updated
  packages/essentials/src/app.postcss
Due: none

chore(essentials): deps updated
  packages/essentials/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

docs(README.md): remove entry for not existing component
  packages/essentials/README.md
Due: none

fix(essentials/list): use:activeAction
  packages/essentials/src/lib/components/list/ToggleList.svelte
  packages/essentials/src/routes/demos/list/+page.svelte
Due: none

chore(essentials/tabs): border-radius prop added to the tabs__group class
  packages/essentials/src/lib/components/tabs/styles.css
Due: none

docs(essentials): uniforming README files
  packages/essentials/src/lib/components/button-group/README.md
  packages/essentials/src/lib/components/button/README.md
  packages/essentials/src/lib/components/color/README.md
  packages/essentials/src/lib/components/dropdown/README.md
  packages/essentials/src/lib/components/link/README.md
  packages/essentials/src/lib/components/list/README.md
  packages/essentials/src/lib/components/tabs/README.md
Due: none

refactor(essentials/list): make the component a plain component with very few styling variables
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/link/README.md
  packages/essentials/src/lib/components/link/THEMING.md
  packages/essentials/src/lib/components/link/styles.css
  packages/essentials/src/lib/components/link/styles.postcss
  packages/essentials/src/lib/components/link/variables.css
  packages/essentials/src/routes/demos/link/+page.svelte
Due: none

chore(essentials): bump version to 0.4.0
  packages/essentials/CHANGELOG.md
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): deps updated
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

refactor(widgets/breadcrumbs): completed
  packages/widgets/src/app.postcss
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/breadcrumbs/README.md
  packages/widgets/src/lib/components/breadcrumbs/THEMING.md
  packages/widgets/src/lib/components/breadcrumbs/assets/images/custom_styles_prop.png
  packages/widgets/src/lib/components/breadcrumbs/assets/images/default.png
  packages/widgets/src/lib/components/breadcrumbs/styles.css
  packages/widgets/src/lib/components/breadcrumbs/styles.postcss
  packages/widgets/src/lib/components/breadcrumbs/variables.css
  packages/widgets/src/lib/components/colors.css
  packages/widgets/src/lib/utils.ts
  packages/widgets/src/routes/demos/breadcrumbs/+page.svelte
  packages/widgets/tests/Breadcrumbs.spec.ts
Due: none

chore(widgets): d2 files updated. Outputs rendered with sketch option enabled
  packages/widgets/src/lib/components/card/assets/diagrams/card.d2
  packages/widgets/src/lib/components/card/assets/images/component_structure.png
  packages/widgets/src/lib/components/pagesnavigator/assets/diagrams/pagesnavigator.d2
  packages/widgets/src/lib/components/pagesnavigator/assets/images/component_structure.png
  packages/widgets/src/lib/components/responsivecard/assets/diagrams/responsive_card.d2
  packages/widgets/src/lib/components/responsivecard/assets/images/component_structure.png
  packages/widgets/src/lib/components/toc/assets/diagrams/toc.d2
  packages/widgets/src/lib/components/toc/assets/images/component_structure.png
Due: none

chore(widgets/card): make use of colors.css and css class names
  packages/widgets/src/app.postcss
  packages/widgets/src/lib/components/card/Card.svelte
  packages/widgets/src/lib/components/card/README.md
  packages/widgets/src/lib/components/card/styles.css
  packages/widgets/src/lib/components/card/styles.postcss
  packages/widgets/src/lib/components/card/variables.css
  packages/widgets/src/routes/demos/+page.svelte
  packages/widgets/src/routes/demos/card/+page.svelte
Due: none

fix(widgets/svelte.config.js): package options to exclude files and reduce package size
  packages/widgets/svelte.config.js
Due: prettier --check, eslint --fix

chore(widgets): vite.config.ts renamed as vite.config.js
  packages/widgets/vite.config.js
Due: prettier --check, eslint --fix

refactor(widgets/responsivecard): make use of colors.css and css class names updated
  packages/widgets/src/lib/components/responsivecard/README.md
  packages/widgets/src/lib/components/responsivecard/ResponsiveCard.svelte
  packages/widgets/src/lib/components/responsivecard/THEMING.md
  packages/widgets/src/lib/components/responsivecard/styles.css
  packages/widgets/src/lib/components/responsivecard/styles.postcss
  packages/widgets/src/routes/demos/responsivecard/+page.svelte
Due: none

refactor(widgets/scroll-to-top): make use of colors.css and css class names updated
  packages/widgets/src/lib/components/scroll-to-top/README.md
  packages/widgets/src/lib/components/scroll-to-top/ScrollToTopButton.svelte
  packages/widgets/src/lib/components/scroll-to-top/THEMING.md
  packages/widgets/src/lib/components/scroll-to-top/styles.css
  packages/widgets/src/lib/components/scroll-to-top/styles.postcss
  packages/widgets/src/lib/components/scroll-to-top/variables.css
  packages/widgets/tests/ScrollToTopButtons.spec.ts
Due: none

chore(widgets): colors.css updated to remove unused colors
  packages/widgets/src/lib/components/colors.css
Due: none

docs(widgets/breadcrumbs): updated
  packages/widgets/src/lib/components/breadcrumbs/README.md
  packages/widgets/src/lib/components/breadcrumbs/THEMING.md
Due: none

docs(widgets/card): updated
  packages/widgets/src/lib/components/card/README.md
  packages/widgets/src/lib/components/card/THEMING.md
  packages/widgets/src/lib/components/card/variables.css
Due: none

docs(widgets/toc): updated
  packages/widgets/src/lib/components/pagesnavigator/THEMING.md
  packages/widgets/src/lib/components/toc/README.md
  packages/widgets/src/lib/components/toc/THEMING.md
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/TocButton.svelte
  packages/widgets/src/lib/components/toc/TocItem.svelte
  packages/widgets/src/lib/components/toc/TocList.svelte
  packages/widgets/src/lib/components/toc/styles.css
  packages/widgets/src/lib/components/toc/styles.postcss
  packages/widgets/src/lib/components/toc/variables.css
  packages/widgets/src/routes/demos/toc/+page.svelte
Due: none

refactor(widgets/pagesnavigator): make use of colors.css and css class names updated
  packages/widgets/src/lib/components/pagesnavigator/Next.svelte
  packages/widgets/src/lib/components/pagesnavigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/pagesnavigator/Previous.svelte
  packages/widgets/src/lib/components/pagesnavigator/README.md
  packages/widgets/src/lib/components/pagesnavigator/Spacer.svelte
  packages/widgets/src/lib/components/pagesnavigator/styles.css
  packages/widgets/src/lib/components/pagesnavigator/styles.postcss
  packages/widgets/src/lib/components/pagesnavigator/variables.css
  packages/widgets/src/routes/demos/pagesnavigator/+page.svelte
Due: none

docs(essentials): uniforming README and THEMING files
  packages/essentials/src/lib/components/button-group/README.md
  packages/essentials/src/lib/components/button-group/THEMING.md
  packages/essentials/src/lib/components/button/README.md
  packages/essentials/src/lib/components/button/THEMING.md
  packages/essentials/src/lib/components/color/README.md
  packages/essentials/src/lib/components/color/THEMING.md
  packages/essentials/src/lib/components/dropdown/README.md
  packages/essentials/src/lib/components/dropdown/THEMING.md
  packages/essentials/src/lib/components/list/README.md
  packages/essentials/src/lib/components/list/THEMING.md
  packages/essentials/src/lib/components/tabs/README.md
  packages/essentials/src/lib/components/tabs/THEMING.md
  packages/essentials/src/routes/demos/list/+page.svelte
Due: none

chore: deps updated
  package.json
  packages/eslint-config-custom/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/stylelint-config-custom/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

Path conditions:
  prettier --check: any of: packages/**/*.{js, ts, svelte}
  eslint --fix: any of: packages/**/*.{js, ts, svelte}
  prettier --write --plugin-search-dir=. .: any of: *.json
