Repository sveltinio/components-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

fix(services): re-exporting components as they are
  packages/services/src/lib/components/google/index.ts
  packages/services/src/lib/components/umami/index.ts
Due: none

fix(widgets): re-exporting components as they are
  packages/widgets/src/lib/components/breadcrumbs/index.ts
  packages/widgets/src/lib/components/card/index.ts
  packages/widgets/src/lib/components/pagesnavigator/index.ts
  packages/widgets/src/lib/components/responsivecard/index.ts
  packages/widgets/src/lib/components/scroll-to-top/index.ts
  packages/widgets/src/lib/components/toc/index.ts
Due: none

chore(widgets/scroll-to-top-button): bounce as prop set to true as default
  packages/widgets/src/lib/components/scroll-to-top/README.md
  packages/widgets/src/lib/components/scroll-to-top/ScrollToTopButton.svelte
Due: none

fix(plop): index.ts template - re-exporting the component as it is
  .templates/component/definition/index.ts.hbs
Due: none

chore(essentials): bump version to 0.5.2
  packages/essentials/CHANGELOG.md
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore(media-content): bump version to 0.3.6
  packages/media-content/CHANGELOG.md
  packages/media-content/package.json
Due: prettier --write --plugin-search-dir=. .

chore(seo): bump version to 0.2.1
  packages/seo/CHANGELOG.md
  packages/seo/package.json
Due: prettier --write --plugin-search-dir=. .

chore(services): bump version to 0.3.2
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): bump version to 0.5.1
  packages/widgets/CHANGELOG.md
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

fix: test scripts and turbo pipeline relative step
  packages/essentials/package.json
  packages/widgets/package.json
  turbo.json
Due: prettier --write --plugin-search-dir=. .

fix(essentials/Link): styles and icon size when external. README updated
  packages/essentials/src/lib/components/link/ExternalLinkIcon.svelte
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/link/README.md
  packages/essentials/src/lib/components/link/styles.postcss
  packages/essentials/src/routes/demos/link/+page.svelte
Due: none

chore: deps updated fro eslint-custom-config and essentials
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore: monorepo dev deps updated to the latest versions
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore: pnpm updated to 7.27.0
  package.json
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/stylelint-config-custom/package.json
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore: overall deps updated
  package.json
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

fix(vite.config.js): set conditions browser to fix tests after updating vite to v4.1.1
  packages/essentials/vite.config.js
  packages/media-content/vite.config.ts
  packages/seo/vite.config.ts
  packages/services/vite.config.ts
  packages/widgets/vite.config.js
Due: prettier --check, eslint --fix

docs(essentials/button-group): properties added for ButtonGroupItem component
  packages/essentials/src/lib/components/button-group/README.md
Due: none

chore(media-content): better comments and consistent names for data-testid
  packages/media-content/src/lib/components/basic/IFrame.svelte
  packages/media-content/src/lib/components/codepen/CodePen.svelte
  packages/media-content/src/lib/components/codesandbox/CodeSandbox.svelte
  packages/media-content/src/lib/components/facebook/Facebook.svelte
  packages/media-content/src/lib/components/slideshare/SlideShare.svelte
  packages/media-content/src/lib/components/stackblitz/StackBlitz.svelte
  packages/media-content/src/lib/components/tweet/Tweet.svelte
  packages/media-content/src/lib/components/vimeo/Vimeo.svelte
  packages/media-content/src/lib/components/youtube/YouTube.svelte
  packages/media-content/src/lib/types.ts
  packages/media-content/src/routes/demos/facebook/+page.svelte
  packages/media-content/tests/CodePen.spec.ts
  packages/media-content/tests/CodeSandbox.spec.ts
  packages/media-content/tests/Facebook.spec.ts
  packages/media-content/tests/SlideShare.spec.ts
  packages/media-content/tests/StackBlitz.spec.ts
  packages/media-content/tests/Tweet.spec.ts
  packages/media-content/tests/Vimeo.spec.ts
  packages/media-content/tests/YouTube.spec.ts
  packages/media-content/tests/test-utils.ts
Due: none

docs(media-content): per component
  packages/media-content/src/lib/components/codepen/README.md
  packages/media-content/src/lib/components/codesandbox/README.md
  packages/media-content/src/lib/components/facebook/README.md
  packages/media-content/src/lib/components/slideshare/README.md
  packages/media-content/src/lib/components/stackblitz/README.md
  packages/media-content/src/lib/components/tweet/README.md
  packages/media-content/src/lib/components/vimeo/README.md
  packages/media-content/src/lib/components/youtube/README.md
Due: none

docs(media-content/README.md): link to each component
  packages/media-content/README.md
Due: none

docs(essentials): updated
  packages/essentials/README.md
  packages/essentials/src/lib/components/button-group/README.md
  packages/essentials/src/lib/components/button/README.md
  packages/essentials/src/lib/components/color/README.md
  packages/essentials/src/lib/components/dropdown/README.md
  packages/essentials/src/lib/components/link/README.md
  packages/essentials/src/lib/components/list/README.md
  packages/essentials/src/lib/components/tabs/README.md
Due: none

docs(media-content): updated
  packages/media-content/src/lib/components/codepen/README.md
  packages/media-content/src/lib/components/codesandbox/README.md
  packages/media-content/src/lib/components/facebook/README.md
  packages/media-content/src/lib/components/slideshare/README.md
  packages/media-content/src/lib/components/stackblitz/README.md
  packages/media-content/src/lib/components/tweet/README.md
  packages/media-content/src/lib/components/vimeo/README.md
  packages/media-content/src/lib/components/youtube/README.md
Due: none

refactor(services): simplified implementation
  packages/services/README.md
  packages/services/package.json
  packages/services/src/app.html
  packages/services/src/data/sample.ts
  packages/services/src/lib/components/google/GoogleAnalytics.svelte
  packages/services/src/lib/components/google/analytics/GoogleAnalytics.svelte
  packages/services/src/lib/components/google/analytics/README.md
  packages/services/src/lib/components/google/analytics/index.ts
  packages/services/src/lib/components/google/fonts/GoogleFonts.svelte
  packages/services/src/lib/components/google/fonts/README.md
  packages/services/src/lib/components/google/fonts/index.ts
  packages/services/src/lib/components/google/index.ts
  packages/services/src/lib/components/umami/README.md
  packages/services/src/lib/components/umami/UmamiAnalytics.svelte
  packages/services/src/lib/components/umami/index.ts
  packages/services/src/routes/+layout.svelte
  packages/services/src/routes/+page.svelte
  packages/services/src/tw-preflight.css
  packages/services/tests/GoogleAnalytics.spec.ts
  packages/services/tests/UmamiAnalytics.spec.ts
  packages/services/tests/test-utils.ts
Due: prettier --write --plugin-search-dir=. .

docs(widgets): updated
  packages/widgets/README.md
  packages/widgets/src/lib/components/breadcrumbs/README.md
  packages/widgets/src/lib/components/card/README.md
  packages/widgets/src/lib/components/responsivecard/README.md
  packages/widgets/src/lib/components/toc/README.md
Due: none

refactor(widgets/PagesNavigator): alt prop on PagesNavigatorItem renamed as title
  packages/widgets/src/lib/components/pagesnavigator/Next.svelte
  packages/widgets/src/lib/components/pagesnavigator/Previous.svelte
  packages/widgets/src/lib/components/pagesnavigator/README.md
  packages/widgets/src/lib/components/pagesnavigator/types.ts
Due: none

feat(widgets/ScrollToTopButton): button shape prop added
  packages/widgets/src/lib/components/scroll-to-top/README.md
  packages/widgets/src/lib/components/scroll-to-top/ScrollToTopButton.svelte
  packages/widgets/src/lib/components/scroll-to-top/styles.postcss
  packages/widgets/src/routes/demos/scroll-to-top/+page.svelte
  packages/widgets/tests/ScrollToTopButtons.spec.ts
Due: none

test(widgets): consistent testid names across components
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/card/Card.svelte
  packages/widgets/src/lib/components/card/CardAction.svelte
  packages/widgets/src/lib/components/card/CardContent.svelte
  packages/widgets/src/lib/components/card/CardTitle.svelte
  packages/widgets/src/lib/components/card/CardTitleLink.svelte
  packages/widgets/src/lib/components/pagesnavigator/Next.svelte
  packages/widgets/src/lib/components/pagesnavigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/pagesnavigator/Previous.svelte
  packages/widgets/src/lib/components/responsivecard/CardTitle.svelte
  packages/widgets/src/lib/components/responsivecard/CardTitleLink.svelte
  packages/widgets/src/lib/components/responsivecard/ResponsiveCard.svelte
  packages/widgets/src/lib/components/scroll-to-top/ScrollToTopButton.svelte
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/TocButton.svelte
  packages/widgets/src/lib/components/toc/TocItem.svelte
  packages/widgets/src/lib/components/toc/TocList.svelte
  packages/widgets/tests/Breadcrumbs.spec.ts
  packages/widgets/tests/Card.spec.ts
  packages/widgets/tests/PagesNavigator.spec.ts
  packages/widgets/tests/ResponsiveCard.spec.ts
  packages/widgets/tests/TOC.spec.ts
Due: none

chore: overall deps updated
  packages/essentials/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

revert(services): promises to add script tag to the head
  packages/services/README.md
  packages/services/src/lib/components/google/analytics/GoogleAnalytics.svelte
  packages/services/src/lib/components/umami/UmamiAnalytics.svelte
Due: none

chore(essentials): bump version to 0.6.0
  packages/essentials/CHANGELOG.md
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore(media-content): bump version to 0.3.7
  packages/media-content/CHANGELOG.md
  packages/media-content/package.json
Due: prettier --write --plugin-search-dir=. .

chore(services): bump version to 0.3.3
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: prettier --write --plugin-search-dir=. .

chore(seo): bump version to 0.3.0
  packages/seo/CHANGELOG.md
  packages/seo/package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): bump version to 0.6.0
  packages/widgets/CHANGELOG.md
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore(packages): bump patch versions
  packages/essentials/CHANGELOG.md
  packages/essentials/package.json
  packages/media-content/CHANGELOG.md
  packages/media-content/package.json
  packages/seo/CHANGELOG.md
  packages/seo/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/widgets/CHANGELOG.md
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

fix(seo): ensure passed data is array before looping it when JS
  packages/seo/src/lib/components/metadata/PageMetaTags.svelte
  packages/seo/src/lib/components/metadata/opengraph/article.svelte
  packages/seo/src/lib/components/metadata/opengraph/book.svelte
  packages/seo/src/lib/components/metadata/opengraph/music-album.svelte
  packages/seo/src/lib/components/metadata/opengraph/music-song.svelte
  packages/seo/src/lib/components/metadata/opengraph/video-episode.svelte
  packages/seo/src/lib/components/metadata/opengraph/video-movie.svelte
  packages/seo/src/lib/components/schemaorg/sitenavigationelements/JsonLdSiteNavigationElements.svelte
  packages/seo/src/lib/components/schemaorg/webpage/JsonLdWebPage.svelte
Due: none

chore(seo): bump version to 0.3.2
  packages/seo/CHANGELOG.md
  packages/seo/package.json
Due: prettier --write --plugin-search-dir=. .

docs(seo/pagemetatags): typos fixed
  packages/seo/src/lib/components/metadata/README.md
Due: none

chore: npm deps updated
  package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

Path conditions:
  prettier --check: any of: packages/**/*.{js, ts, svelte}
  eslint --fix: any of: packages/**/*.{js, ts, svelte}
  prettier --write --plugin-search-dir=. .: any of: *.json
