Repository sveltinio/components-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

.lintstagedrc.json:

{
	"packages/**/*.{js, ts, svelte}": ["prettier --check", "eslint --fix"],
	"*.json": ["prettier --write --plugin-search-dir=. ."]
}

fix(essentials/color): label color
  packages/essentials/src/lib/components/color/ColorViewer.svelte
  packages/essentials/src/lib/components/color/README.md
  packages/essentials/src/lib/components/color/styles.css
  packages/essentials/src/lib/components/color/styles.postcss
  packages/essentials/src/lib/styles/components/color/variables.css
  packages/essentials/src/routes/demos/color/+page.svelte
Due: none

refactor(essentials/button-group): a11y and keydownHandler
  packages/essentials/src/lib/components/button-group/ButtonGroup.svelte
  packages/essentials/src/lib/components/button-group/ButtonGroupItem.svelte
  packages/essentials/src/lib/components/button-group/README.md
  packages/essentials/src/lib/components/button-group/THEMING.md
  packages/essentials/src/lib/components/button-group/assets/images/custom_class.png
  packages/essentials/src/lib/components/button-group/assets/images/custom_prop.png
  packages/essentials/src/lib/components/button-group/assets/images/custom_styles_class.png
  packages/essentials/src/lib/components/button-group/assets/images/custom_styles_prop.png
  packages/essentials/src/lib/components/button-group/assets/images/default.png
  packages/essentials/src/lib/components/button-group/assets/images/showcase.png
  packages/essentials/src/lib/components/button-group/styles.css
  packages/essentials/src/lib/components/button-group/styles.postcss
  packages/essentials/src/lib/styles/components/button-group/variables.css
  packages/essentials/src/routes/demos/button-group/+page.svelte
Due: none

chore(essentials/svelte.config.js): vitePreprocess and other entries to be excluded when packaging
  packages/essentials/svelte.config.js
Due: prettier --check, eslint --fix

ci: ensure building before testing to avoid errors due to missed files
  .github/workflows/lint-test.yml
Due: none

fix(essentials): types in package.json
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): deps updated
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore(widgets/svelte.config.js): vitePreprocess and other entries to be excluded when packaging
  packages/widgets/package.json
  packages/widgets/svelte.config.js
  pnpm-lock.yaml
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

chore(widgets): pa11y and setup
  packages/widgets/.pa11yci
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore(widgets/vite.config.js): change port number
  packages/widgets/vite.config.js
Due: prettier --check, eslint --fix

chore(widgets): demo pages and styles updated
  packages/widgets/postcss.config.cjs
  packages/widgets/src/app.html
  packages/widgets/src/app.postcss
  packages/widgets/src/routes/+page.svelte
  packages/widgets/src/routes/demos/+page.svelte
  packages/widgets/src/routes/demos/breadcrumbs/+page.svelte
  packages/widgets/src/routes/demos/card/+page.svelte
  packages/widgets/src/routes/demos/pagesnavigator/+page.svelte
  packages/widgets/src/routes/demos/responsivecard/+page.svelte
  packages/widgets/src/routes/demos/scroll-to-top/+page.svelte
  packages/widgets/src/routes/demos/toc/+page.svelte
Due: none

refactor(widgets): css files, folder structure and build process
  packages/widgets/.gitignore
  packages/widgets/package.json
  packages/widgets/scripts/css-minifier.js
  packages/widgets/scripts/postcss-process.js
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/breadcrumbs/styles.css
  packages/widgets/src/lib/components/breadcrumbs/styles.postcss
  packages/widgets/src/lib/components/card/Card.svelte
  packages/widgets/src/lib/components/card/styles.css
  packages/widgets/src/lib/components/card/styles.postcss
  packages/widgets/src/lib/components/pagesnavigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/pagesnavigator/styles.css
  packages/widgets/src/lib/components/pagesnavigator/styles.postcss
  packages/widgets/src/lib/components/reset.css
  packages/widgets/src/lib/components/responsivecard/ResponsiveCard.svelte
  packages/widgets/src/lib/components/responsivecard/styles.css
  packages/widgets/src/lib/components/responsivecard/styles.postcss
  packages/widgets/src/lib/components/scroll-to-top/ScrollToTopButton.svelte
  packages/widgets/src/lib/components/scroll-to-top/styles.css
  packages/widgets/src/lib/components/scroll-to-top/styles.postcss
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/styles.css
  packages/widgets/src/lib/components/toc/styles.postcss
  packages/widgets/src/lib/styles/base.css
  packages/widgets/src/lib/styles/colors.css
  packages/widgets/src/lib/styles/components/breadcrumbs/variables.css
  packages/widgets/src/lib/styles/components/card/variables.css
  packages/widgets/src/lib/styles/components/pagesnavigator/variables.css
  packages/widgets/src/lib/styles/components/responsivecard/badge.css
  packages/widgets/src/lib/styles/components/responsivecard/variables.css
  packages/widgets/src/lib/styles/components/scroll-to-top/variables.css
  packages/widgets/src/lib/styles/components/toc/variables.css
  packages/widgets/src/lib/styles/tw-preflight.css
  packages/widgets/styles-builder.js
  pnpm-lock.yaml
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

ci: test:packages step added to the turborepo pipeline. github workflow updated to make use of it
  .github/workflows/lint-test.yml
  package.json
  turbo.json
Due: prettier --write --plugin-search-dir=. .

docs(widgets): consistent README and THEMING files
  packages/widgets/README.md
  packages/widgets/package.json
  packages/widgets/src/lib/components/breadcrumbs/README.md
  packages/widgets/src/lib/components/breadcrumbs/THEMING.md
  packages/widgets/src/lib/components/card/README.md
  packages/widgets/src/lib/components/card/THEMING.md
  packages/widgets/src/lib/components/pagesnavigator/README.md
  packages/widgets/src/lib/components/pagesnavigator/THEMING.md
  packages/widgets/src/lib/components/responsivecard/README.md
  packages/widgets/src/lib/components/responsivecard/THEMING.md
  packages/widgets/src/lib/components/scroll-to-top/README.md
  packages/widgets/src/lib/components/scroll-to-top/THEMING.md
  packages/widgets/src/lib/components/toc/README.md
  packages/widgets/src/lib/components/toc/THEMING.md
  packages/widgets/src/routes/demos/+page.svelte
Due: prettier --write --plugin-search-dir=. .

refactor(widgets): types and export
  packages/widgets/src/lib/components/card/CardImage.svelte
  packages/widgets/src/lib/components/pagesnavigator/Next.svelte
  packages/widgets/src/lib/components/pagesnavigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/pagesnavigator/Previous.svelte
  packages/widgets/src/lib/components/pagesnavigator/Spacer.svelte
  packages/widgets/src/lib/components/pagesnavigator/types.ts
  packages/widgets/src/lib/components/responsivecard/CardBadge.svelte
  packages/widgets/src/lib/components/responsivecard/CardImage.svelte
  packages/widgets/src/lib/components/responsivecard/types.ts
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/TocList.svelte
  packages/widgets/src/lib/components/toc/types.ts
  packages/widgets/src/lib/types.ts
Due: none

docs(essentials): updating README for dropdown, link and list
  packages/essentials/src/lib/components/dropdown/README.md
  packages/essentials/src/lib/components/link/README.md
  packages/essentials/src/lib/components/list/README.md
Due: none

feat(widgets/breadcrumbs): a11y and focus added
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/breadcrumbs/README.md
  packages/widgets/src/lib/components/breadcrumbs/THEMING.md
  packages/widgets/src/lib/components/breadcrumbs/styles.postcss
  packages/widgets/src/lib/styles/components/breadcrumbs/variables.css
  packages/widgets/src/routes/demos/breadcrumbs/+page.svelte
Due: none

fix(widgets): width and max-width for tox and pagesnavigator due to the new reset file
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/pagesnavigator/styles.postcss
  packages/widgets/src/lib/components/toc/styles.postcss
  packages/widgets/src/lib/styles/components/pagesnavigator/variables.css
  packages/widgets/src/lib/styles/components/toc/variables.css
Due: none

chore: deps updated
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

feat(widgets/toc): a11y and focus added - to be completed
  packages/widgets/postcss.config.cjs
  packages/widgets/src/lib/components/toc/README.md
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/TocButton.svelte
  packages/widgets/src/lib/components/toc/TocItem.svelte
  packages/widgets/src/lib/components/toc/TocList.svelte
  packages/widgets/src/lib/components/toc/styles.postcss
  packages/widgets/src/lib/styles/components/toc/variables.css
  packages/widgets/src/lib/utils.ts
Due: none

refactor(widgets/scripts/postcss-process.js): getLastPathSegment using nodejs path module
  packages/widgets/scripts/postcss-process.js
Due: prettier --check, eslint --fix

chore(postcss-utils): ensure dev is set even when mode is not defined. Default to 'development'
  packages/postcss-utils/index.cjs
  packages/postcss-utils/index.mjs
Due: none

fix(widgets): isValidClassName for components with props.class
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/card/Card.svelte
  packages/widgets/src/lib/components/responsivecard/ResponsiveCard.svelte
  packages/widgets/src/lib/components/toc/TOC.svelte
Due: none

chore(widgets): demo page for breadcrumbs
  packages/widgets/src/app.postcss
  packages/widgets/src/routes/demos/scroll-to-top/+page.svelte
Due: none

refactor(widgets/responsive-card): css class names and colors
  packages/widgets/src/lib/components/responsivecard/CardBadge.svelte
  packages/widgets/src/lib/components/responsivecard/styles.postcss
  packages/widgets/src/lib/styles/colors.css
  packages/widgets/src/lib/styles/components/responsivecard/badge.css
  packages/widgets/src/lib/styles/components/responsivecard/variables.css
Due: none

chore(widgets/pagesnavigator): isValid renamed as areRequiredDefined
  packages/widgets/src/lib/components/pagesnavigator/Next.svelte
  packages/widgets/src/lib/components/pagesnavigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/pagesnavigator/Previous.svelte
  packages/widgets/src/lib/utils.ts
Due: none

chore: removed unused deps from the monorepo root and deps updated for widgets
  package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

ci(widgets): husky pre-commit runs tests on packages only
  .husky/pre-commit
Due: none

chore: packageManager updated to pnpm@7.25.0
  package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets/breadcrumbs): aria-label and aria-hidden added
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/utils.ts
Due: none

feat(widgets): titleLink on Card and ResponsiveCard added to render the title as link too
  packages/widgets/src/lib/components/card/Card.svelte
  packages/widgets/src/lib/components/card/README.md
  packages/widgets/src/lib/components/responsivecard/README.md
  packages/widgets/src/lib/components/responsivecard/ResponsiveCard.svelte
Due: none

feat(widgets/toc): icon only on small screens
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/TocButton.svelte
Due: none

feat(widgets/toc): a11y and event handlers added. README and THEMING updated
  packages/widgets/src/lib/components/toc/README.md
  packages/widgets/src/lib/components/toc/THEMING.md
  packages/widgets/src/lib/components/toc/TOC.svelte
Due: none

fix(widgets/toc): a11y - unique id on recursive list component
  packages/widgets/src/lib/components/toc/TocList.svelte
  packages/widgets/src/routes/demos/toc/+page.svelte
Due: none

feat(widgets/pagesnavigator): aria props set. THEMING.md updated
  packages/widgets/src/lib/components/pagesnavigator/Next.svelte
  packages/widgets/src/lib/components/pagesnavigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/pagesnavigator/Previous.svelte
  packages/widgets/src/lib/components/pagesnavigator/Spacer.svelte
  packages/widgets/src/lib/components/pagesnavigator/THEMING.md
Due: none

feat(widgets/card): aria props set. Docs updated
  packages/widgets/src/lib/components/card/CardAction.svelte
  packages/widgets/src/lib/components/card/CardImage.svelte
  packages/widgets/src/lib/components/card/CardTitleLink.svelte
  packages/widgets/src/lib/components/card/README.md
  packages/widgets/src/lib/components/card/THEMING.md
Due: none

feat(widgets/responsivecard): aria props set. Docs updated
  packages/widgets/src/lib/components/responsivecard/CardAction.svelte
  packages/widgets/src/lib/components/responsivecard/CardImage.svelte
  packages/widgets/src/lib/components/responsivecard/CardTitleLink.svelte
  packages/widgets/src/lib/components/responsivecard/THEMING.md
Due: none

docs(widgets/toc): remove empty line at the bottom
  packages/widgets/src/lib/components/toc/THEMING.md
Due: none

ci: husky - pre-push runs tests for packages only
  .husky/pre-push
Due: none

ci: husky - pre-commit remove duplicate format task based on the turborepo pipeline
  .husky/pre-commit
Due: none

chore(widgets/responsivecard): css class names
  packages/widgets/src/lib/components/responsivecard/ResponsiveCard.svelte
  packages/widgets/src/lib/components/responsivecard/styles.postcss
  packages/widgets/src/lib/styles/components/responsivecard/variables.css
Due: none
