Repository sveltinio/components-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

chore(media-content): bump version to 0.3.4
  packages/media-content/CHANGELOG.md
  packages/media-content/package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): css files renamed to have a unique approach with other packages
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/breadcrumbs/bc-styles.css
  packages/widgets/src/lib/components/buttons/prevnext/PrevNextButtons.svelte
  packages/widgets/src/lib/components/buttons/prevnext/prevnext-styles.css
  packages/widgets/src/lib/components/card/Card.svelte
  packages/widgets/src/lib/components/card/card-styles.css
  packages/widgets/src/lib/components/toc/README.md
Due: none

chore(widgets/toc): tuning styles and more variables to customize the component added
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/TocItem.svelte
  packages/widgets/src/lib/components/toc/TocList.svelte
  packages/widgets/src/lib/components/toc/toc-styles.css
Due: none

chore(widgets): bump version to 0.2.2
  packages/widgets/CHANGELOG.md
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

docs(widgets): sections on READMEs ordered like the ones from other packages
  packages/widgets/src/lib/components/breadcrumbs/README.md
  packages/widgets/src/lib/components/buttons/prevnext/README.md
  packages/widgets/src/lib/components/buttons/scroll-to-top/README.md
  packages/widgets/src/lib/components/card/README.md
  packages/widgets/src/lib/components/github/README.md
  packages/widgets/src/lib/components/toc/README.md
Due: none

chore(widgets): postcss-[load-config, preset-env, simple-vard], added as dev-deps and others updated
  packages/widgets/package.json
  packages/widgets/postcss.config.cjs
  packages/widgets/src/app.css
  packages/widgets/src/app.postcss
  packages/widgets/src/routes/+layout.svelte
  packages/widgets/svelte.config.js
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

fix(essentials/link): prefetch value when off
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/list/ToggleList.svelte
Due: none

chore: deps updated
  package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

refactor(widgets): renaming PrevNextButton component as PagesNavigator. Convert to PostCSS
  packages/widgets/README.md
  packages/widgets/package.json
  packages/widgets/src/data/sample.ts
  packages/widgets/src/lib/components/breadcrumbs/_variables.postcss
  packages/widgets/src/lib/components/buttons/index.ts
  packages/widgets/src/lib/components/buttons/prevnext/PrevNextButtons.svelte
  packages/widgets/src/lib/components/buttons/prevnext/README.md
  packages/widgets/src/lib/components/buttons/prevnext/index.ts
  packages/widgets/src/lib/components/buttons/prevnext/prevnext-styles.css
  packages/widgets/src/lib/components/buttons/scroll-to-top/_variables.postcss
  packages/widgets/src/lib/components/pagesnavigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/pagesnavigator/_variables.postcss
  packages/widgets/src/lib/components/pagesnavigator/index.ts
  packages/widgets/src/lib/components/pagesnavigator/styles.postcss
  packages/widgets/src/lib/components/toc/_variables.postcss
  packages/widgets/src/lib/index.ts
  packages/widgets/src/lib/types.ts
  packages/widgets/src/routes/+page.svelte
  packages/widgets/src/routes/demos/buttons/+page.svelte
  packages/widgets/src/routes/demos/pagesnavigator/+page.svelte
  packages/widgets/tests/PagesNavigator.spec.ts
  packages/widgets/tests/PrevNextButtons.spec.ts
Due: prettier --write --plugin-search-dir=. .

refactor(widgets/scroll-to-top): convert to PostCSS
  packages/widgets/src/lib/components/buttons/scroll-to-top/README.md
  packages/widgets/src/lib/components/buttons/scroll-to-top/ScrollToTopButton.svelte
  packages/widgets/src/lib/components/buttons/scroll-to-top/styles.css
  packages/widgets/src/lib/components/buttons/scroll-to-top/styles.postcss
  packages/widgets/src/lib/components/toc/README.md
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/TocItem.svelte
  packages/widgets/src/lib/components/toc/TocList.svelte
  packages/widgets/src/lib/components/toc/styles.postcss
  packages/widgets/src/lib/components/toc/toc-styles.css
  packages/widgets/src/routes/demos/+page.svelte
  packages/widgets/src/routes/demos/toc/+page.svelte
  packages/widgets/tests/ScrollToTopButtons.spec.ts
  packages/widgets/tests/TOC.spec.ts
Due: none

refactor(widgets/breadcrumbs): convert to PostCSS
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/breadcrumbs/README.md
  packages/widgets/src/lib/components/breadcrumbs/bc-styles.css
  packages/widgets/src/lib/components/breadcrumbs/styles.postcss
  packages/widgets/src/routes/demos/breadcrumbs/+page.svelte
Due: none

chore(widgets): tuning responsiveness for GitHubForkRibbon component
  packages/widgets/src/lib/components/github/GitHubForkRibbon.svelte
Due: none

chore(essentials/dropdown): flex-start instead of start for align-items on the button
  packages/essentials/src/lib/components/dropdown/dropdown-styles.css
Due: none

refactor(widgets/card): convert to PostCSS
  packages/widgets/src/lib/components/card/Card.svelte
  packages/widgets/src/lib/components/card/CardButton.svelte
  packages/widgets/src/lib/components/card/CardContent.svelte
  packages/widgets/src/lib/components/card/CardCover.svelte
  packages/widgets/src/lib/components/card/CardMetadata.svelte
  packages/widgets/src/lib/components/card/CardTitle.svelte
  packages/widgets/src/lib/components/card/_variables.postcss
  packages/widgets/src/lib/components/card/styles.postcss
  packages/widgets/tests/Card.spec.ts
Due: none

refactor(widgets): removing GitHub components and ScrollToTopButton (moved to @sveltinio/essentials)
  packages/widgets/package.json
  packages/widgets/src/lib/components/buttons/index.ts
  packages/widgets/src/lib/components/buttons/scroll-to-top/README.md
  packages/widgets/src/lib/components/buttons/scroll-to-top/ScrollToTopButton.svelte
  packages/widgets/src/lib/components/buttons/scroll-to-top/_variables.postcss
  packages/widgets/src/lib/components/buttons/scroll-to-top/index.ts
  packages/widgets/src/lib/components/buttons/scroll-to-top/styles.postcss
  packages/widgets/src/lib/components/github/GitHubButton.svelte
  packages/widgets/src/lib/components/github/GitHubForkRibbon.svelte
  packages/widgets/src/lib/components/github/README.md
  packages/widgets/src/lib/components/github/index.ts
  packages/widgets/src/lib/index.ts
  packages/widgets/src/routes/demos/+page.svelte
  packages/widgets/src/routes/demos/buttons/+page.svelte
  packages/widgets/src/routes/demos/github/+page.svelte
  packages/widgets/tests/GitHubButton.spec.ts
  packages/widgets/tests/GitHubForkRibbon.spec.ts
  packages/widgets/tests/ScrollToTopButtons.spec.ts
Due: prettier --write --plugin-search-dir=. .

chore(widgets): make it work with postcss and exclude postcss files from the output when packaging
  packages/widgets/.gitignore
  packages/widgets/src/lib/components/pagesnavigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/pagesnavigator/README.md
  packages/widgets/src/lib/components/pagesnavigator/styles.postcss
  packages/widgets/src/lib/components/pagesnavigator/variables.css
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/styles.postcss
  packages/widgets/src/lib/components/toc/variables.css
  packages/widgets/svelte.config.js
Due: prettier --check, eslint --fix

chore(essentials): postcss added
  packages/essentials/package.json
  packages/essentials/postcss.config.cjs
  packages/essentials/src/app.css
  packages/essentials/src/app.postcss
  packages/essentials/src/routes/+layout.svelte
  packages/essentials/svelte.config.js
  pnpm-lock.yaml
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

feat(essentials/ScrollToTopButton): component added
  packages/essentials/README.md
  packages/essentials/src/lib/components/scroll-to-top/README.md
  packages/essentials/src/lib/components/scroll-to-top/ScrollToTopButton.svelte
  packages/essentials/src/lib/components/scroll-to-top/index.ts
  packages/essentials/src/lib/components/scroll-to-top/styles.css
  packages/essentials/src/lib/components/scroll-to-top/styles.postcss
  packages/essentials/src/lib/components/scroll-to-top/variables.css
  packages/essentials/src/lib/index.ts
  packages/essentials/src/routes/+page.svelte
  packages/essentials/src/routes/demos/+page.svelte
  packages/essentials/src/routes/demos/scroll-to-top/+page.svelte
  packages/essentials/tests/ScrollToTopButtons.spec.ts
Due: none

fix(widgets): removing styles.css from .gitignore
  packages/widgets/.gitignore
  packages/widgets/README.md
  packages/widgets/src/lib/components/pagesnavigator/styles.css
  packages/widgets/src/lib/components/toc/styles.css
Due: none

chore(widgets/breadcrumbs): make it work with postcss
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/breadcrumbs/styles.css
  packages/widgets/src/lib/components/breadcrumbs/styles.postcss
  packages/widgets/src/lib/components/breadcrumbs/variables.css
Due: none

chore(widgets/card): make it work with postcss
  packages/widgets/src/lib/components/card/Card.svelte
  packages/widgets/src/lib/components/card/styles.css
  packages/widgets/src/lib/components/card/styles.postcss
  packages/widgets/src/lib/components/card/variables.css
  packages/widgets/src/routes/demos/+page.svelte
Due: none

chore(essentials): app.postcss file updated
  packages/essentials/src/app.postcss
Due: none

chore: deps updated
  package.json
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore(widgets): stylelint added and configured to work with postcss
  packages/widgets/.prettierrc
  packages/widgets/.stylelintrc
  packages/widgets/package.json
  packages/widgets/postcss.config.cjs
  packages/widgets/src/app.postcss
  packages/widgets/src/lib/components/breadcrumbs/styles.css
  packages/widgets/src/lib/components/breadcrumbs/styles.postcss
  packages/widgets/src/lib/components/breadcrumbs/variables.css
  packages/widgets/src/lib/components/card/styles.css
  packages/widgets/src/lib/components/card/styles.postcss
  packages/widgets/src/lib/components/card/variables.css
  packages/widgets/src/lib/components/pagesnavigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/pagesnavigator/README.md
  packages/widgets/src/lib/components/pagesnavigator/styles.css
  packages/widgets/src/lib/components/pagesnavigator/styles.postcss
  packages/widgets/src/lib/components/pagesnavigator/variables.css
  packages/widgets/src/lib/components/toc/styles.css
  packages/widgets/src/lib/components/toc/styles.postcss
  packages/widgets/src/lib/components/toc/variables.css
Due: prettier --write --plugin-search-dir=. .

chore: svelte updated to v3.54.0
  package.json
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

docs: draft for design rules added
  docs/design-rules.md
Due: none

chore: scripts added
  .gitignore
  scripts/README.md
  scripts/clean_all.sh
  scripts/postcss.sh
  scripts/run.sh
Due: none

chore: deps updated fro eslint-config-custom, media-content, seo and services packages
  packages/eslint-config-custom/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
Due: prettier --write --plugin-search-dir=. .

chore(packages/styleling-config-custom): added to share stylelint config across packages
  packages/stylelint-config-custom/README.md
  packages/stylelint-config-custom/index.cjs
  packages/stylelint-config-custom/package.json
Due: prettier --write --plugin-search-dir=. .

chore: make use of stylelint-config-custom for essentials and widgets packages
  package.json
  packages/essentials/.prettierrc
  packages/essentials/package.json
  packages/essentials/stylelint.config.cjs
  packages/widgets/.stylelintrc
  packages/widgets/package.json
  packages/widgets/stylelint.config.cjs
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore: css-reset new for essentials and widgets packages
  packages/essentials/src/app.postcss
  packages/widgets/src/app.postcss
Due: none

chore(widgets): declaration-empty-line-before rule for stylelint removed
  packages/widgets/src/lib/components/pagesnavigator/styles.css
  packages/widgets/src/lib/components/pagesnavigator/styles.postcss
  packages/widgets/src/lib/components/toc/styles.css
  packages/widgets/src/lib/components/toc/styles.postcss
  packages/widgets/src/routes/+page.svelte
  packages/widgets/src/routes/demos/+page.svelte
Due: none

chore(scripts): updated
  scripts/README.md
  scripts/clean_all.sh
  scripts/run.sh
Due: none

chore: sveltekit->next.579, vite-plugin-svelte->2.0.0, vite->4.0.0
  package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

feat(postcss-utils): package added to the workspace
  packages/postcss-utils/README.md
  packages/postcss-utils/index.cjs
  packages/postcss-utils/index.mjs
  packages/postcss-utils/package.json
  packages/widgets/styles-builder.js
  scripts/README.md
  scripts/clean_all.sh
  scripts/postcss.sh
  scripts/run.sh
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

chore(eslint-config-custom): deps updated
  packages/eslint-config-custom/index.cjs
  packages/eslint-config-custom/package.json
Due: prettier --write --plugin-search-dir=. .

chore(widgets): make use of postcss-utils
  packages/widgets/.eslintignore
  packages/widgets/.eslintrc.cjs
  packages/widgets/.prettierignore
  packages/widgets/package.json
  packages/widgets/postcss.config.cjs
  turbo.json
Due: prettier --write --plugin-search-dir=. .

feat(widgets): responsivecard component added
  packages/widgets/src/app.postcss
  packages/widgets/src/data/sample.ts
  packages/widgets/src/lib/components/responsivecard/CardAction.svelte
  packages/widgets/src/lib/components/responsivecard/CardBadge.svelte
  packages/widgets/src/lib/components/responsivecard/CardImage.svelte
  packages/widgets/src/lib/components/responsivecard/CardInfo.svelte
  packages/widgets/src/lib/components/responsivecard/README.md
  packages/widgets/src/lib/components/responsivecard/ResponsiveCard.svelte
  packages/widgets/src/lib/components/responsivecard/badge.css
  packages/widgets/src/lib/components/responsivecard/index.ts
  packages/widgets/src/lib/components/responsivecard/styles.css
  packages/widgets/src/lib/components/responsivecard/styles.postcss
  packages/widgets/src/lib/components/responsivecard/variables.css
  packages/widgets/src/lib/index.ts
  packages/widgets/src/lib/types.ts
  packages/widgets/src/lib/utils.ts
  packages/widgets/src/routes/demos/+page.svelte
  packages/widgets/src/routes/demos/responsivecard/+page.svelte
  packages/widgets/static/resources/posts/microphone/dummy_2.jpeg
  packages/widgets/static/resources/posts/welcome/dummy.jpeg
  packages/widgets/tests/ResponsiveCard.spec.ts
Due: none

refactor(widgets/pagesnavigator): tuning styles and responsiveness
  packages/widgets/src/lib/components/pagesnavigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/pagesnavigator/README.md
  packages/widgets/src/lib/components/pagesnavigator/screenshots/custom_1.png
  packages/widgets/src/lib/components/pagesnavigator/screenshots/custom_2.png
  packages/widgets/src/lib/components/pagesnavigator/screenshots/custom_3.png
  packages/widgets/src/lib/components/pagesnavigator/screenshots/default.png
  packages/widgets/src/lib/components/pagesnavigator/styles.css
  packages/widgets/src/lib/components/pagesnavigator/styles.postcss
  packages/widgets/src/lib/components/pagesnavigator/variables.css
  packages/widgets/src/routes/demos/pagesnavigator/+page.svelte
  packages/widgets/tests/PagesNavigator.spec.ts
Due: none

Path conditions:
  prettier --check: any of: packages/**/*.{js, ts, svelte}
  eslint --fix: any of: packages/**/*.{js, ts, svelte}
  prettier --write --plugin-search-dir=. .: any of: *.json
