Repository sveltinio/components-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

.lintstagedrc.json:

{
	"packages/**/*.{js, ts, svelte}": ["prettier --check", "eslint --fix"],
	"*.json": ["prettier --write --plugin-search-dir=. ."]
}

fix(widgets): a11y and pa11y tests
  packages/widgets/src/app.html
  packages/widgets/src/data/sample.ts
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/breadcrumbs/styles.postcss
  packages/widgets/src/lib/components/scroll-to-top/README.md
  packages/widgets/src/lib/styles/colors.css
  packages/widgets/src/lib/styles/components/pagesnavigator/variables.css
  packages/widgets/src/lib/styles/components/responsivecard/badge.css
  packages/widgets/src/lib/styles/components/responsivecard/variables.css
  packages/widgets/src/lib/styles/components/scroll-to-top/variables.css
  packages/widgets/src/routes/demos/pagesnavigator/+page.svelte
  packages/widgets/src/routes/demos/responsivecard/+page.svelte
  packages/widgets/src/routes/demos/toc/+page.svelte
Due: none

docs(widgets/pagesnavigator): d2 diagram updated
  packages/widgets/src/lib/components/pagesnavigator/assets/diagrams/pagesnavigator.d2
  packages/widgets/src/lib/components/pagesnavigator/assets/images/component_structure.png
Due: none

fix(site): remove preview from mdsvex.config.js
  sites/components.sveltin.io/mdsvex.config.js
Due: none

chore: deps & devDeps updated
  package.json
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

test(widgets/toc): fix number of items to reflect the new sample data
  packages/widgets/tests/TOC.spec.ts
Due: none

refactor(widgets/toc): simplify TocList component
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/TocList.svelte
Due: none

chore: bump kit to 1.1.4 and adapter-auto to 1.0.2
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/stylelint-config-custom/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore: kit updated to 1.2.0
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore(widgets): demo pages and styles updated
  packages/widgets/src/app.postcss
  packages/widgets/src/routes/+layout.svelte
  packages/widgets/src/routes/demos/toc/+page.svelte
  packages/widgets/src/tw-preflight.css
Due: none

chore(widgets/card): font-weight tuned and CardAction refactored as an <a> tag
  packages/widgets/src/lib/components/card/CardAction.svelte
  packages/widgets/src/lib/styles/components/card/variables.css
Due: none

chore(widgets/responsivecard): font-weight tuned and padding vars added to card__content css class
  packages/widgets/src/lib/components/responsivecard/styles.postcss
  packages/widgets/src/lib/styles/components/responsivecard/variables.css
Due: none

chore: deps updated
  packages/eslint-config-custom/package.json
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

test(widgets/Card): fix expected button label when render slotted button
  packages/widgets/tests/Card.spec.ts
Due: none

docs(widgets/toc): updated
  packages/widgets/src/lib/components/toc/README.md
Due: none

chore(widgets/toc): button ring width reduced to 1px
  packages/widgets/src/lib/styles/components/toc/variables.css
Due: none

chore(widgets): bump version to 0.5.0
  packages/widgets/CHANGELOG.md
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore: sveltekit updated v1.2.4
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

chore(essentials): buttons ring width reduced to 1px
  packages/essentials/src/lib/styles/components/button/variables.css
  packages/essentials/src/lib/styles/components/dropdown/variables.css
  packages/essentials/src/lib/styles/components/list/variables.css
  packages/essentials/src/lib/styles/components/tabs/variables.css
Due: none

fix(essentials): import utils.js using relative paths instead of the lib alias
  packages/essentials/src/lib/components/button-group/ButtonGroup.svelte
  packages/essentials/src/lib/components/button/Button.svelte
  packages/essentials/src/lib/components/color/ColorViewer.svelte
  packages/essentials/src/lib/components/dropdown/Dropdown.svelte
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/list/ToggleList.svelte
  packages/essentials/src/lib/components/tabs/Tabs.svelte
Due: none

chore(essentials): import tw-preflight.css for demo pages
  packages/essentials/src/app.postcss
  packages/essentials/src/routes/+layout.svelte
  packages/essentials/src/tw-preflight.css
Due: none

docs(README.md): updated to reference test:packages script
  README.md
Due: none

chore(media-content): vitePreprocess and postcss setup
  packages/media-content/package.json
  packages/media-content/postcss.config.cjs
  packages/media-content/src/app.css
  packages/media-content/src/app.html
  packages/media-content/src/app.postcss
  packages/media-content/src/tw-preflight.css
  packages/media-content/svelte.config.js
  pnpm-lock.yaml
Due: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

fix(media-content/Slideshare): remove a11y warning for alt prop on <a> tag
  packages/media-content/src/lib/components/slideshare/SlideShare.svelte
Due: none

fix(media-content/StackBlitz): sandbox on iframe
  packages/media-content/src/lib/components/stackblitz/StackBlitz.svelte
Due: none

fix(media-content): svelte:component props for Vimeo and YouTube
  packages/media-content/src/lib/components/vimeo/Vimeo.svelte
  packages/media-content/src/lib/components/youtube/YouTube.svelte
Due: none

chore(media-content): demo pages updated
  packages/media-content/src/routes/+layout.svelte
  packages/media-content/src/routes/+page.svelte
  packages/media-content/src/routes/demos/+page.svelte
  packages/media-content/src/routes/demos/codepen/+page.svelte
  packages/media-content/src/routes/demos/codesandbox/+page.svelte
  packages/media-content/src/routes/demos/facebook/+page.svelte
  packages/media-content/src/routes/demos/slideshare/+page.svelte
  packages/media-content/src/routes/demos/stackblitz/+page.svelte
  packages/media-content/src/routes/demos/tweet/+page.svelte
  packages/media-content/src/routes/demos/vimeo/+page.svelte
  packages/media-content/src/routes/demos/youtube/+page.svelte
Due: none

docs(essentials/Tabs): usage section on README.md updated
  packages/essentials/src/lib/components/tabs/README.md
Due: none

chore(media-content): package.json scripts updated
  packages/media-content/package.json
Due: prettier --write --plugin-search-dir=. .

chore(media-content): bump version to 0.3.5
  packages/media-content/CHANGELOG.md
  packages/media-content/package.json
Due: prettier --write --plugin-search-dir=. .

chore(essentials): bump version to 0.5.1
  packages/essentials/CHANGELOG.md
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore: sveltekit updated v1.2.5
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

docs(essentials): updated
  packages/essentials/src/lib/components/button-group/README.md
  packages/essentials/src/lib/components/button-group/THEMING.md
  packages/essentials/src/lib/components/button/THEMING.md
  packages/essentials/src/lib/components/color/THEMING.md
  packages/essentials/src/lib/components/dropdown/THEMING.md
  packages/essentials/src/lib/components/list/THEMING.md
  packages/essentials/src/lib/components/tabs/README.md
  packages/essentials/src/lib/components/tabs/THEMING.md
Due: none

docs(widgets): updated
  packages/widgets/src/lib/components/breadcrumbs/THEMING.md
  packages/widgets/src/lib/components/card/THEMING.md
  packages/widgets/src/lib/components/pagesnavigator/THEMING.md
  packages/widgets/src/lib/components/responsivecard/THEMING.md
  packages/widgets/src/lib/components/scroll-to-top/THEMING.md
  packages/widgets/src/lib/components/toc/THEMING.md
Due: none

refactor(widgets/responsivecard): make CardAction an <a> tag
  packages/widgets/src/lib/components/responsivecard/CardAction.svelte
  packages/widgets/src/lib/components/responsivecard/assets/diagrams/responsive_card.d2
  packages/widgets/src/lib/components/responsivecard/assets/images/component_structure.png
Due: none

docs(widgets/card): diagram updated to reflect CardAction structure
  packages/widgets/src/lib/components/card/assets/diagrams/card.d2
  packages/widgets/src/lib/components/card/assets/images/component_structure.png
Due: none

docs(widgets/responsivecard): typos fixed on README.md
  packages/widgets/src/lib/components/responsivecard/README.md
Due: none

chore: deps updated
  packages/essentials/package.json
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=. .

fix(essentials): re-exporting components as they are
  packages/essentials/src/lib/components/button-group/index.ts
  packages/essentials/src/lib/components/button/index.ts
  packages/essentials/src/lib/components/color/index.ts
  packages/essentials/src/lib/components/dropdown/index.ts
  packages/essentials/src/lib/components/link/index.ts
  packages/essentials/src/lib/components/list/index.ts
  packages/essentials/src/lib/components/tabs/index.ts
Due: none

fix(media-content): re-exporting components as they are
  packages/media-content/src/lib/components/basic/index.ts
  packages/media-content/src/lib/components/codepen/index.ts
  packages/media-content/src/lib/components/codesandbox/index.ts
  packages/media-content/src/lib/components/facebook/index.ts
  packages/media-content/src/lib/components/slideshare/index.ts
  packages/media-content/src/lib/components/stackblitz/index.ts
  packages/media-content/src/lib/components/tweet/index.ts
  packages/media-content/src/lib/components/vimeo/index.ts
  packages/media-content/src/lib/components/youtube/index.ts
Due: none

fix(seo): re-exporting components as they are
  packages/seo/src/lib/components/metatag/index.ts
  packages/seo/src/lib/components/schemaorg/index.ts
Due: none
