Repository sveltinio/components-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --fix, prettier --write .

fix: reference shared packages
  packages/media-content/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/widgets/package.json
Due: prettier --write .

feat(postcss-config-base): add postcss-initial plugin
  shared/postcss-config-base/index.cjs
  shared/postcss-config-base/package.json
Due: prettier --write .

refactor(essentials): reference the new prettier-svelte-config-base shared
  packages/essentials/.prettierrc
  packages/essentials/.prettierrc.cjs
  packages/essentials/package.json
  shared/prettier-svelte-config-base/README.md
  shared/prettier-svelte-config-base/index.cjs
  shared/prettier-svelte-config-base/package.json
Due: prettier --write .

refactor(essentials/button): typed rest props and styles
  packages/essentials/src/lib/components/button/Button.d.ts
  packages/essentials/src/lib/components/button/Button.svelte
  packages/essentials/src/lib/components/button/README.md
  packages/essentials/src/lib/components/button/THEMING.md
  packages/essentials/src/lib/components/button/styles/Button.postcss
  packages/essentials/src/routes/demos/button/+page.svelte
Due: none

refactor(essentials/button-group): typed rest props and styles
  packages/essentials/src/lib/components/button-group/ButtonGroup.d.ts
  packages/essentials/src/lib/components/button-group/ButtonGroup.svelte
  packages/essentials/src/lib/components/button-group/ButtonGroupButton.svelte
  packages/essentials/src/lib/components/button-group/THEMING.md
  packages/essentials/src/lib/components/button-group/styles.postcss
  packages/essentials/src/lib/components/button-group/styles/ButtonGroup.postcss
  packages/essentials/src/lib/components/button-group/styles/ButtonGroupButton.postcss
  packages/essentials/src/routes/demos/button-group/+page.svelte
Due: none

refactor(essentials/color): typed props and styles
  packages/essentials/src/lib/components/color/ColorViewer.d.ts
  packages/essentials/src/lib/components/color/ColorViewer.svelte
  packages/essentials/src/lib/components/color/THEMING.md
  packages/essentials/src/lib/components/color/styles/ColorViewer.postcss
Due: none

refactor(essentials/dropdown): typed props and styles
  packages/essentials/src/lib/components/dropdown/Button.svelte
  packages/essentials/src/lib/components/dropdown/Dropdown.d.ts
  packages/essentials/src/lib/components/dropdown/Dropdown.svelte
  packages/essentials/src/lib/components/dropdown/List.svelte
  packages/essentials/src/lib/components/dropdown/ListItem.svelte
  packages/essentials/src/lib/components/dropdown/THEMING.md
  packages/essentials/src/lib/components/dropdown/a11y-action.ts
  packages/essentials/src/lib/components/dropdown/index.ts
  packages/essentials/src/lib/components/dropdown/partials/index.ts
  packages/essentials/src/lib/components/dropdown/styles.postcss
  packages/essentials/src/lib/components/dropdown/styles/Button.postcss
  packages/essentials/src/lib/components/dropdown/styles/Dropdown.postcss
  packages/essentials/src/lib/components/dropdown/styles/List.postcss
  packages/essentials/src/lib/components/dropdown/styles/ListItem.postcss
  packages/essentials/src/routes/demos/dropdown/+page.svelte
Due: none

refactor(essentials/link): typed props and styles
  packages/essentials/src/lib/components/link/Link.d.ts
  packages/essentials/src/lib/components/link/Link.svelte
  packages/essentials/src/lib/components/link/THEMING.md
  packages/essentials/src/lib/components/link/styles.postcss
  packages/essentials/src/lib/components/link/styles/Link.postcss
Due: none

refactor(essentials/list): typed props and styles
  packages/essentials/src/lib/components/list/Item.svelte
  packages/essentials/src/lib/components/list/List.svelte
  packages/essentials/src/lib/components/list/THEMING.md
  packages/essentials/src/lib/components/list/Title.svelte
  packages/essentials/src/lib/components/list/ToggleList.d.ts
  packages/essentials/src/lib/components/list/ToggleList.svelte
  packages/essentials/src/lib/components/list/a11y-action.ts
  packages/essentials/src/lib/components/list/partials/index.ts
  packages/essentials/src/lib/components/list/styles.postcss
  packages/essentials/src/lib/components/list/styles/Item.postcss
  packages/essentials/src/lib/components/list/styles/List.postcss
  packages/essentials/src/lib/components/list/styles/Title.postcss
Due: none

refactor(essentials/tabs): typed props and styles
  packages/essentials/src/lib/components/tabs/THEMING.md
  packages/essentials/src/lib/components/tabs/Tab.svelte
  packages/essentials/src/lib/components/tabs/TabContent.svelte
  packages/essentials/src/lib/components/tabs/Tabs.d.ts
  packages/essentials/src/lib/components/tabs/Tabs.svelte
  packages/essentials/src/lib/components/tabs/a11y-action.ts
  packages/essentials/src/lib/components/tabs/a11y-keyboard.ts
  packages/essentials/src/lib/components/tabs/index.ts
  packages/essentials/src/lib/components/tabs/styles.postcss
  packages/essentials/src/lib/components/tabs/styles/TabContent.postcss
  packages/essentials/src/lib/components/tabs/styles/Tabs.postcss
  packages/essentials/src/routes/demos/tabs/+page.svelte
Due: none

refactor(essentials): re-export types
  packages/essentials/src/data/sample.ts
  packages/essentials/src/lib/types.ts
Due: none

style(essentials): reset styles on the demo page
  packages/essentials/src/app.css
  packages/essentials/src/app.postcss
  packages/essentials/src/lib/styles/baseline.css
  packages/essentials/src/routes/+layout.svelte
Due: none

refactor(essentials): package.json scripts
  packages/essentials/package.json
  packages/essentials/scripts/postcss-process.js
Due: prettier --check, eslint --fix, prettier --write .

fix(essentials): tsconfig.json
  packages/essentials/tsconfig.json
Due: prettier --write .

refactor(postcss-config-base): default for postcss-initial
  shared/postcss-config-base/index.cjs
Due: none

fix(essentials): add missing post-build.mjs script
  scripts/post-build.mjs
Due: none

fix(essentials): exports and types package's entry points
  packages/essentials/package.json
Due: prettier --write .

test(essentials): refactor test cases to adhere to the new component interfaces
  packages/essentials/package.json
  packages/essentials/tests/Button.spec.ts
  packages/essentials/tests/ColorViewer.spec.ts
  packages/essentials/tests/Dropdown.spec.ts
  packages/essentials/tests/Link.spec.ts
  packages/essentials/tests/Tabs.spec.ts
  packages/essentials/tests/ToggleList.spec.ts
  packages/essentials/tests/setup/vitest_setup.ts
  packages/essentials/tests/slot/DropdownButtonSlotTest.svelte
  packages/essentials/tests/slot/TabSlotTest.svelte
  packages/essentials/tests/slot/ToggleListSlotTest.svelte
  packages/essentials/tests/slot/index.ts
  packages/essentials/vite.config.js
  shared/postcss-config-base/index.cjs
Due: prettier --check, eslint --fix, prettier --write .

fix(postcss-base-config): plugins variable name
  shared/postcss-config-base/index.cjs
Due: none

chore(stylelint-config-base): update dev deps
  shared/stylelint-config-base/package.json
Due: prettier --write .

chore(essentials): update dev deps
  packages/essentials/package.json
Due: prettier --write .

chore(essentials): update publint to v0.2.5
  packages/essentials/package.json
Due: prettier --write .

chore: update eslint packages
  packages/essentials/package.json
  shared/eslint-config-base/package.json
Due: prettier --write .

feat(seo): add support for svelte v5
  packages/seo/.eslintignore
  packages/seo/.eslintrc.cjs
  packages/seo/.prettierrc
  packages/seo/eslint.config.mjs
  packages/seo/package.json
  packages/seo/postcss.config.cjs
  packages/seo/src/app.css
  packages/seo/src/app.html
  packages/seo/src/data/sample.ts
  packages/seo/src/lib/components/metadata/opengraph/OpenGraph.svelte
  packages/seo/src/lib/components/metadata/opengraph/article.svelte
  packages/seo/src/lib/components/metadata/opengraph/book.svelte
  packages/seo/src/lib/components/metadata/opengraph/music-album.svelte
  packages/seo/src/lib/components/metadata/opengraph/music-song.svelte
  packages/seo/src/lib/components/metadata/opengraph/video-episode.svelte
  packages/seo/src/lib/components/metadata/opengraph/video-movie.svelte
  packages/seo/src/lib/components/metadata/twittercard/TwitterCard.svelte
  packages/seo/src/lib/components/schemaorg/website/JsonLdWebSite.svelte
  packages/seo/src/lib/types.ts
  packages/seo/src/lib/utils.ts
  packages/seo/src/routes/+page.svelte
  packages/seo/src/routes/album/+page.svelte
  packages/seo/src/tw-preflight.css
  packages/seo/svelte.config.js
  packages/seo/tests/JsonLdBreadcrumbs.spec.ts
  packages/seo/tests/JsonLdSiteNavigationElements.spec.ts
  packages/seo/tests/JsonLdWebPage.spec.ts
  packages/seo/tests/JsonLdWebSite.spec.ts
  packages/seo/tests/OpenGraph.spec.ts
  packages/seo/tests/PageMetaTags.spec.ts
  packages/seo/tests/TwitterCard.spec.ts
Due: prettier --check, eslint --fix, prettier --write .

fix(seo): set type to module
  packages/seo/package.json
Due: prettier --write .

chore(seo): release v0.4.4
  packages/seo/CHANGELOG.md
  packages/seo/package.json
Due: prettier --write .

Path conditions:
  prettier --check: any of: packages/**/*.{js, ts, svelte}
  eslint --fix: any of: packages/**/*.{js, ts, svelte}
  prettier --write .: any of: *.json
