Repository sveltinio/components-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --fix, prettier --write --plugin-search-dir=. .

chore(essentials): update @sveltinio/ts-utils to v0.8.0
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore(media-content): update @sveltinio/ts-utils to v0.8.0
  packages/media-content/package.json
Due: prettier --write --plugin-search-dir=. .

chore(seo): update @sveltinio/ts-utils to v0.8.0
  packages/seo/package.json
Due: prettier --write --plugin-search-dir=. .

chore(services): update @sveltinio/ts-utils to v0.8.0
  packages/services/package.json
Due: prettier --write --plugin-search-dir=. .

chore: update turbo to v1.9.4
  package.json
  packages/eslint-config-custom/package.json
Due: prettier --write --plugin-search-dir=. .

refactor(essentials): retrieveCssClassNames in src/lib/utils.ts
  packages/essentials/src/lib/utils.ts
Due: none

feat(essentials/button): allow additional props with restProps
  packages/essentials/src/lib/components/button/Button.svelte
Due: none

refactor(essentials/dropdown): use svelte action for keybindings
  packages/essentials/src/lib/actions.ts
  packages/essentials/src/lib/components/dropdown/Dropdown.svelte
  packages/essentials/src/lib/components/dropdown/actions.ts
  packages/essentials/src/lib/components/dropdown/keysbinding.ts
Due: none

refactor(essentials/dropdown): re-use Button component in DropdownButton.svelte
  packages/essentials/src/lib/components/dropdown/DropdownButton.svelte
Due: none

fix(essentials): exports map entry for actions
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

refactor(essentials/list): use svelte action for keybindings
  packages/essentials/package.json
  packages/essentials/src/lib/actions.ts
  packages/essentials/src/lib/components/dropdown/keysbinding.ts
  packages/essentials/src/lib/components/list/Item.svelte
  packages/essentials/src/lib/components/list/List.svelte
  packages/essentials/src/lib/components/list/ToggleButton.svelte
  packages/essentials/src/lib/components/list/ToggleList.svelte
  packages/essentials/src/lib/components/list/action.ts
  packages/essentials/src/lib/components/list/keysbinding.ts
  packages/essentials/src/lib/components/list/types.ts
Due: prettier --write --plugin-search-dir=. .

refactor(essentials/tabs): use svelte action for keybindings
  packages/essentials/src/lib/components/tabs/Tabs.svelte
  packages/essentials/src/lib/components/tabs/a11yKeyboard.ts
Due: none

chore(essentials/list): rename keys binding action and file
  packages/essentials/src/lib/actions.ts
  packages/essentials/src/lib/components/list/Item.svelte
  packages/essentials/src/lib/components/list/ToggleList.svelte
  packages/essentials/src/lib/components/list/a11yKeyboard.ts
Due: none

chore(essentials/dropdown): rename keys binding action and file
  packages/essentials/src/lib/components/dropdown/Dropdown.svelte
  packages/essentials/src/lib/components/dropdown/a11yKeyboard.ts
Due: none

chore(essentials): update dev deps
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

chore(media-content): update dev deps
  packages/media-content/package.json
Due: prettier --write --plugin-search-dir=. .

chore(seo): update dev deps
  packages/seo/package.json
Due: prettier --write --plugin-search-dir=. .

chore(services): update dev deps
  packages/services/package.json
Due: prettier --write --plugin-search-dir=. .

chore: update turbo to v1.9.6
  package.json
  packages/eslint-config-custom/package.json
Due: prettier --write --plugin-search-dir=. .

chore(sites): update dev deps
  sites/components.sveltin.io/package.json
Due: prettier --write --plugin-search-dir=. .

docs(essentials/tabs): fix markdown table syntax
  packages/essentials/src/lib/components/tabs/README.md
Due: none

docs(essentials): add Keyboard Interaction section for each component in the package
  packages/essentials/src/lib/components/button-group/README.md
  packages/essentials/src/lib/components/button/README.md
  packages/essentials/src/lib/components/color/README.md
  packages/essentials/src/lib/components/dropdown/README.md
  packages/essentials/src/lib/components/link/README.md
  packages/essentials/src/lib/components/list/README.md
  packages/essentials/src/lib/components/tabs/README.md
  packages/essentials/src/routes/demos/+page.svelte
Due: none

style(essentials/color): set aspect-ratio: 1
  packages/essentials/src/lib/components/color/styles.postcss
Due: none

chore(essentials/dropdown): rename a11yKeyboard.ts as a11y-keyboard.ts
  packages/essentials/src/lib/components/dropdown/Dropdown.svelte
  packages/essentials/src/lib/components/dropdown/a11y-keyboard.ts
Due: none

chore(essentials/list): rename a11yKeyboard.ts as a11y-keyboard.ts
  packages/essentials/src/lib/components/list/ToggleList.svelte
  packages/essentials/src/lib/components/list/a11y-keyboard.ts
Due: none

chore(essentials/tabs): rename a11yKeyboard.ts as a11y-keyboard.ts
  packages/essentials/src/lib/components/tabs/Tabs.svelte
  packages/essentials/src/lib/components/tabs/a11y-keyboard.ts
Due: none

chore(essentials): release v0.7.3
  packages/essentials/CHANGELOG.md
  packages/essentials/package.json
Due: prettier --write --plugin-search-dir=. .

refactor(widgets): avoid hacking reserverd css classes
  packages/widgets/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  packages/widgets/src/lib/components/card/Card.svelte
  packages/widgets/src/lib/components/pages-navigator/PagesNavigator.svelte
  packages/widgets/src/lib/components/responsive-card/ResponsiveCard.svelte
  packages/widgets/src/lib/components/scroll-to-top/ScrollToTopButton.svelte
  packages/widgets/src/lib/utils.ts
Due: none

feat(widgets): set visibility for CardImage and ResponsiveCardImage at different breakpoints
  packages/widgets/src/lib/components/card/CardImage.svelte
  packages/widgets/src/lib/components/responsive-card/CardImage.svelte
  packages/widgets/src/lib/components/responsive-card/README.md
  packages/widgets/src/lib/types.ts
  packages/widgets/src/lib/utils.ts
Due: none

chore(widgets): add @sveltinio/essentials as dep. dev deps updated
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

refactor(widgets/toc): use svelte action for keyboard interaction
  packages/widgets/src/lib/components/toc/TOC.svelte
  packages/widgets/src/lib/components/toc/TocButton.svelte
  packages/widgets/src/lib/components/toc/TocIcon.svelte
  packages/widgets/src/lib/components/toc/TocList.svelte
  packages/widgets/src/lib/components/toc/a11y-keyboard.ts
  packages/widgets/src/lib/components/toc/types.ts
Due: none

chore(widgets): update pnpm to v8.5.1
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

chore(dev-deps): updated
  packages/essentials/package.json
  packages/media-content/package.json
  packages/postcss-utils/package.json
  packages/seo/package.json
  packages/services/package.json
  packages/stylelint-config-custom/package.json
  pnpm-lock.yaml
  sites/components.sveltin.io/package.json
Due: prettier --write --plugin-search-dir=. .

test(widgets/vite.config.js): add inline dep for vitest
  packages/widgets/vite.config.js
Due: prettier --check, eslint --fix

docs(widgets/scroll-to-top): add missing links to THEMING.md
  packages/widgets/src/lib/components/scroll-to-top/THEMING.md
Due: none

ci(lint-test.yml): set pnpm to v8 for the test job
  .github/workflows/lint-test.yml
Due: none

ci(turbo): set concurrency to 1 to fix the lint-test github action run
  package.json
Due: prettier --write --plugin-search-dir=. .

fix(widgets/package.json): remove navbar entry from exports map
  packages/widgets/package.json
Due: prettier --write --plugin-search-dir=. .

fix(widgets): commit missing actions.ts file
  packages/widgets/src/lib/actions.ts
  packages/widgets/src/lib/components/toc/TOC.svelte
Due: none

Path conditions:
  prettier --check: any of: packages/**/*.{js, ts, svelte}
  eslint --fix: any of: packages/**/*.{js, ts, svelte}
  prettier --write --plugin-search-dir=. .: any of: *.json
